[2020-11-12 17:30] jodeleeuw commented on #695
@becky-gilbert that's a great start! can I play with the CSS a bit? is it in a fork somewhere?

[2020-11-12 17:43] becky-gilbert commented on #695
@jodeleeuw yes please do! I just pushed it to the slider-positions branch on my fork:
https://github.com/becky-gilbert/jsPsych/tree/slider-positions
The slider/thumb CSS is in the jspsych.css file. And there are changes to the JavaScript that controls the label positioning, but so far I've only made these changes in the [html-slider-response plugin](https://github.com/becky-gilbert/jsPsych/blob/sl

[2020-11-12 18:50] jodeleeuw commented on #695
I somehow messed up my attempt to PR into your branch and don't have time to fix it, but here's some style updates for Chrome that maybe you can translate to the other browsers if you like them?

[code]

[2020-11-12 22:48] becky-gilbert commented on #695
@jodeleeuw I updated the CSS with your changes and pushed to my fork, in case you want to play around again. Just checking that this is how it should look:

**Chrome**
![chrome_slider2](https://user-images.githubusercontent.com/9041788/99005314-6bda7b00-24f5-11eb-8753-b0857528c6fe.png)

**Firefox**
![firefox_slider2](https://user-images.githubusercontent.com/9041788/99005327-7432b600-24f5-11eb-950

[2020-11-12 23:18] jodeleeuw commented on #695
Yep!

Why does the edge one have to be wider?

[2020-11-12 23:27] becky-gilbert commented on #695
Because Edge seems to limit how much the thumb can extend higher/lower than the track (or at least, I can't figure out how to make it extend any farther). Here's what it looks like in Edge with the same track and thumb height as Chrome/FF:

![edge_slider3](https://user-images.githubusercontent.com/9041788/99008360-d510bd00-24fa-11eb-93c0-782952d1ad49.PNG)

Any suggestions for a fix? I tried settin

[2020-11-13 12:12] gorkang opened #1192 "Parameter to add a number showing the slider value in the html-slider-response plugin"
When using a slider response, sometimes it is important that the participant can see the exact value selected. In our research group, we are using a modified version of the jspsych-html-slider-response.js.

Using jsPsych-master I modified jspsych-html-slider-response.js to create a reproducible example with minimal changes: [slider-plugin-number.zip](https://github.com/jspsych/jsPsych/files/553668

[2020-11-16 18:54] esolitos commented on #494
Hi Becky, that's quite useful, thanks!

Just a question, since I'm still quite new to jsPsy, before I spend 4h digging into its source: where do you specify such post-process function?

[2020-11-17 04:27] becky-gilbert commented on #494
@esolitos the postprocessing function is actually a trial parameter, since we figured that researchers will often want to specify their own way of handling the audio data. So in my study, I include the `save_file_to_jatos` function in my main script, and then use it as a trial parameter like this:
[code]
The postprocessing function does need to be written in a specific way - sorry about the lack o

[2020-11-17 19:14] kjkendro commented on #494
In a somewhat related question, I'm trying to administer a picture naming task where participants have a maximum of 3 minutes (180000ms) to respond, but I would like them to be able to progress earlier if they finish by pressing the space bar. Right now, I have the following code for each block:
`var mint1_proc = {
      timeline: [
{type: 'html-audio-response',
      stimulus: '<img src="jsPsych/

[2020-11-19 20:50] becky-gilbert commented on #648
Apparently the pull request didn't completely fix this problem - see [here](https://github.com/jspsych/jsPsych/discussions/1130#discussioncomment-133358). I think we should leave this issue open but not let it hold up the 6.2 release (assuming it's still just a console error and there are no reports of problems with the audio loading/playing).

[2020-11-20 05:11] jackdolgin commented on #494
Sorry to tack on to this thread, but I also had a few questions/ possible suggestions—do you happen to know:

1.  if there's a way in javascript to tell at any given instance what the current input's decibel level is (as a proxy for whether someone is talking)? it could be used to use voice level to determine when to end a recording/trial rather than waiting for a specific amount of time to elapse

[2020-11-20 17:08] becky-gilbert opened #1207 "Improved survey-* plugins"
When overhauling the survey-* plugins, we could do the following:
- Allow different question types on the same page (the survey-form plugin does this, but this version would still be parameterized)
- Allow different pages of questions with back/next navigation, like the instructions plugin
- Add a validation parameter. I assume this would be a function that runs after the 'submit/next' button is p

[2020-11-20 17:38] becky-gilbert commented on #1192
Hi @gorkang, thanks for sharing this - looks great!

Would you mind putting the changes into a pull request please? In addition to the slider plugin file changes, it'd be great if you could include changes to the plugin documentation and example files. Thank you!

[2020-11-20 22:43] #669 closed

[2020-11-20 23:11] dillonplunkett opened #1210 "experiment hangs when setting use_webaudio: false"
jsPsych version 6.1.0
Chrome 87.0.4280.67 on Mac 11.0.1

Setting `use_webaudio: false` within `jsPsych.init`, seems to cause experiments hang after the first trial with audio, throwing an exception in the function `update_loading_progress_bar()`.

Should be reproducible with the following (given any `test.wav`):

[code]

[2020-11-21 00:48] becky-gilbert commented on #494
@kjkendro we haven't added the option to stop the recording early with a keypress, but that's a good idea. I don't know if I'll have a chance to do this soon. In the meantime, you can do this by adding a function that stops the recording, and calling this function either when the `buffer_length` duration is up, or when a valid key is pressed. Here's the relevant bit of code that stops the recordin

[2020-11-21 02:04] becky-gilbert commented on #494
@jackdolgin No problem! I don't have all of the answers to these questions, so I'm wondering if @mjaquiery wants to add anything, since he wrote the original version of the plugin. Here are my responses:

This is possible but might be tricky to set up, because of the audio signal processing involved, and because of differences in background noise and speech levels. If I were to try this, I would u

[2020-11-21 02:14] becky-gilbert commented on #494
@kjkendro oops, I just realized that @hesmall already added in the option to manually end the recording with a key press, with the `manually_end_recording` and `manually_end_recording_key` parameters (thanks @hesmall!). You can see this in [this html-audio-response plugin](https://github.com/becky-gilbert/jsPsych/blob/audio-response/plugins/jspsych-html-audio-response.js) and [this audio-audio-res

[2020-11-21 03:10] kjkendro commented on #494
Thank you for the detailed response, @becky-gilbert! I had initially tried to use the `manually_end_recording_key` parameter, with the accepted key press being the spacebar, in two ways:

[code]

Both were unsuccessful.  I haven't retrieved the generated audio files yet, but the trial did not progress. I'm not sure if it's a bug or I'm doing something wrong, so I'm going to loop in @hesmall on thi

[2020-11-21 03:20] becky-gilbert commented on #494
@kjkendro before you spend time modifying the plugin - can you try a key other than the space bar and let me know if that works?

[2020-11-21 03:27] kjkendro commented on #494
@becky-gilbert I just tried it with 'j' (and '74'). Like with the spacebar, the trial didn't end/the next trial did not appear.

[2020-11-21 03:47] becky-gilbert commented on #494
@kjkendro ok thanks - I'll have a look!

[2020-11-21 12:12] mjaquiery commented on #494
@becky-gilbert<https://github.com/becky-gilbert> gave a pretty comprehensive response and I’m not sure I can add anything much! I don’t think I can add much beyond suggesting a bit of experimenting and using the breakpoints in your browser’s debugging tools to figure out what’s going on with the key press issue.
Note that the answers to question 4 and 2 are related: the option for slicing up recor

[2020-11-22 23:51] lukasshannon opened #1217 "jspsych-rdk fixation_cross_color not functional"
In the RDK plugin, setting the fixation_cross_color does not change the color of the fixation cross. To fix this issue, in jspsych-rdk.js on lines 958 & 966, change ctx.fillStyle to ctx.strokeStyle

[2020-11-23 01:27] kjkendro commented on #494
@becky-gilbert I just got the chance to try out your plugin modification, and it worked like a charm. Thank you so much!

[2020-11-23 16:06] ShengjieXu667 opened #1221 "jspsych hangs while executing a long and complex function"
Hi all,

I am using jspsych for my online task with a high demand of randomization. I wrote a function to achieve randomizations required for my task and put it in on_finish section of my welcome page. But when I ran the task file, the whole thing hanged at the point of my function, i.e., in welcome page, one can press space key to start, but in my case, when I pressed space key, it didn't start.

[2020-11-23 16:24] jodeleeuw commented on #1221
Hi @ShengjieXu667 ,

A function with a long execution time will lock the browser while it runs. If the long run time is necessary, then you could try caching the results of the function. Can you run this function offline, store the results for many unique randomizations in a JSON file, and then load the results into the experiment? Then the randomization process would just be to pick one of the po

[2020-11-23 16:24] #1221 closed

[2020-11-23 20:34] gorkang opened #1225 "Website: Wrong link to data-collected-by-plugins"
It seems there is a problem with the default paragraph present in **all** the plugins:

Given it is a relative link (a href="overview#datacollectedbyplugins"), it points to:
https://www.jspsych.org/plugins/[NAME OF THE PLUGIN]/overview#datacollectedbyplugins

But I believe it should point to:
https://www.jspsych.org/plugins/overview/#data-collected-by-plugins
 
Cheers,

[2020-11-23 21:09] becky-gilbert commented on #1225
Hi @gorkang - yes you're absolutely right. Sorry about the error, and thanks for pointing this out! We'll fix this when we release jsPsych v6.2, at which point we'll update the website documentation.

[2020-11-24 19:34] becky-gilbert commented on #1217
Hi @lukasshannon, thanks very much for flagging this! We did fix this on the master branch version of the RDK plugin:
https://github.com/jspsych/jsPsych/blob/6673c9e90319c1e539466e70ba2f08d5cbe5c80e/plugins/jspsych-rdk.js#L955-L971
Which means it'll be fixed when we release v6.2, so I'll close this issue now.
Thanks again!

[2020-11-24 19:34] #1217 closed

[2020-11-24 20:46] lukasshannon commented on #1217
That's great! @becky-gilbert any intention to add radial motion to the RDK plugin? I.e. dots expanding or contracting from the origin?

[2020-11-24 21:27] becky-gilbert commented on #1217
No, we don't have plans to do that. But if you want to add that option in, then we'd welcome the contribution!

[2020-11-25 15:53] jodeleeuw opened #1231 "If data parameter is a function, merging data from timeline into trial doesn't work as expected"
See #1213 for example.

[2020-11-25 17:26] #695 closed

[2020-11-25 17:33] becky-gilbert opened #1232 "slider styling looks different in Edge"
In the v6.2 *-slider-response plugins, custom CSS is used for slider tracks/thumbs to fix the positioning of slider positions and labels, but the styling looks different in Edge vs other browsers. In Edge, it seems like the thumb can only extend slightly above/below the track, otherwise it gets cut off. So compared to the styling in other browsers, in Edge the thumb has to be shorter and/or the tr

[2020-11-25 18:51] #891 closed

[2020-11-25 18:55] jodeleeuw commented on #1210
Hi @dillonplunkett ,

Does the experiment hang, or do you just get the error message in the console? That particular error message is harmless (see #1130), but we have patched it for 6.2 (#648).

There might be a separate unknown-to-us issue going on here that's related to using the same trial twice.

[2020-11-25 19:05] #1172 closed

[2020-11-25 19:10] #969 closed

[2020-11-25 19:12] dillonplunkett commented on #1210
Hi @jodeleeuw,

It looks like it's actually just the error message and this is covered by #648. I thought it was causing the experiment to hang, but I think I was just pausing execution on all exceptions without realizing it. Sorry for the confusion and thanks for your help!

[2020-11-25 19:12] #1210 closed

[2020-11-25 20:00] #1225 closed

[2020-11-26 11:45] jkrumbiegel opened #1235 "Setting `post_trial_gap` after trial"
Hi, I really enjoy using the library so far, great work!

Is there a way to control the `post_trial_gap` given what happens in the trial? As far as I understand, passing a function will evaluate it at the start of the trial. My use case is a task after which a "too slow" notice should be shown immediately, if the participant didn't answer. So I want to set the `post_trial_gap` to zero in case ther

[2020-11-27 10:40] jkrumbiegel opened #1237 "Retrieving all timeline variables for a given trial"
I currently have a design that uses a lot of timeline variables, and one annoying aspect is that I sometimes forget adding one of the timeline variables to the data section (I'm actually not sure why they are not automatically put into the data, as otherwise that information is just lost).

So some data section looks like this:

[code]

This is because I couldn't find a way to just retrieve all ti

[2020-11-29 10:35] AaronZheng87 commented on #529
How can I set the visual angle of images

[2020-11-30 23:16] becky-gilbert commented on #1235
Hi @jkrumbiegel, I don't think there's a way to do that because, like you said, all of the trial's dynamic parameters will evaluate at the _start_ of the trial (with the exception of [event-related callback functions](https://www.jspsych.org/overview/callbacks/)). A clumsy workaround would be to use a blank 'trial' as your ITI instead of the `post_trial_gap`, so that you can control when/whether t

[2020-11-30 23:30] becky-gilbert opened #1246 "new allTimelineVariables() function?"
Suggest adding a function for getting all timeline variables related to a particular trial, so that these can be more easily added to the trial data via the `data` parameter, e.g.
[code]

[2020-12-01 00:01] becky-gilbert commented on #1237
Hi @jkrumbiegel, I don't think there's currently a way to get the list of timeline variables for each trial, but that's a good idea so I've created an issue to suggest it (#1246).
In the meantime, to make this a little easier and less error-prone, you could create a function that generates your data object containing each variable name and associated timeline variable. Then you would call that fun

[2020-12-01 00:03] becky-gilbert commented on #1246
Closing as a duplicate - oops!

[2020-12-01 00:03] #1246 closed

[2020-12-01 07:46] jkrumbiegel commented on #1237
Hi Becky, thanks for your response! It is true that I could encapsulate the data segment in a function, but that doesn't solve the underlying issue that I have to remember all the timeline variables. It's just moving them to a different place.

I guess it would be easy enough to write this function myself if I understood how the timeline variables are represented. From looking at some of the sourc

[2020-12-01 07:51] jkrumbiegel commented on #1235
Hi Becky, the approach with the full trial and conditional timeline is exactly how I'm currently solving the problem, it's just not a very clean solution. Given that the post_trial_gap happens after the trial it seemed sensible to me that there should be some way of changing it during the trial, before the waiting period is initiated.

Basically, I think all trial aspects that only become relevant

[2020-12-02 00:10] becky-gilbert commented on #1235
Sorry @jkrumbiegel, I once again mistook this for a discussion post question rather than an issue! Oops 😬 Thanks for the suggestion - I agree this would be a much cleaner solution.

@jodeleeuw what do you think about adding the ability to set the `post_trial_gap` value during/after the trial, so that trial data can be used to determine the value? (And the same for any other parameter values that a

[2020-12-02 00:26] becky-gilbert commented on #1237
@jkrumbiegel yes, totally agree that the custom function that I suggested doesn't really solve the problem, it just make your code a little less repetitive/error-prone in the meantime.

I like the `jsPsych.allTimelineVariables()` idea - glad to see that @jodeleeuw added this to the 7.0 milestone.

Not sure if there's a simple modification you could make to jspsych.js prior to the 7.0 release to au

[2020-12-02 01:11] jodeleeuw commented on #1237
I'm imagining that this kind of functionality can be added along with things like #823 and the option to ignore any parameter from the data on a trial by trial basis. Basically, an overhaul of how we manage the trial-level data to allow a lot more customization without these kinds of hacks.

The timeline variable part may be the trickiest because they are dynamic. I don't think 7.0 will be when we

[2020-12-02 16:56] becky-gilbert opened #1258 "Fixing video preloading causes CORS error when opening file directly"
**Problem:**
Previously video files were not automatically preloading. Now that this has been fixed (#1171), the automatic video preloading is blocked when opening HTML files directly due to CORS policy, which prevents the experiment from running. The experiment does run when preloading does not occur - the video file is successfully retrieved when the trial begins. To fix this, we need some way o

[2020-12-02 17:59] jodeleeuw commented on #1258
Thanks for opening this issue to track it!

I think we *should* override options in `jsPsych.init`, even if they are explicitly set. My first inclination was to not do this, but then I thought more about the developer's experience. It would be annoying to have to take out `use_webaudio` and `preload_videos` parameters just because you are testing locally if you want those parameters in when you ar

[2020-12-02 18:37] becky-gilbert commented on #1258
Thanks for the feedback Josh! Totally agree with your points about overriding the other `jsPsych.init` settings.

WRT the parameter name, I wondered if this is something that would only every be used to fix CORS issues or if it would potentially be used for other reasons? In the latter case I suppose it would be better to have a more generic name that doesn't include CORS. So my vote is for `overr

[2020-12-02 23:16] becky-gilbert opened #1262 "fix HTML5 preloading error caused by stalled event"
Currently, with HTML5 audio preloading, if audio loading triggers a 'stalled' event, then jsPsych re-starts the file loading process for that file. However the 'canplaythrough' event listener remains attached to the first attempt, so if the stalled file recovers, then it will produce a console error: "Cannot read property 'style' of null at update_loading_progress_bar".

[See discussion here](http

[2020-12-02 23:28] becky-gilbert commented on #648
The problem raised in the discussion post above produces the same console error, but has a [slightly different cause](https://github.com/jspsych/jsPsych/discussions/1130#discussioncomment-139257). So I've opened a different issue to track it (#1262) and I'm closing this one.

[2020-12-02 23:28] #648 closed

[2020-12-03 01:00] kurokida commented on #1262
Thank you for your reply.
I agree with you.

[2020-12-03 10:36] matanmazor commented on #652
This would be a great feature to have!

[2020-12-03 15:41] jackdolgin opened #1265 "Relative links not working on overview of plugins page"
I wasn't sure how to fix it (hence no pull request), but when I click the links in the table on https://www.jspsych.org/plugins/overview/ I get taken to a page that doesn't exist. It looks like `overview/` is getting added to each url accidentally.

[2020-12-03 17:54] becky-gilbert commented on #1265
You're right, thanks for flagging this @jackdolgin! We'll get this fixed in the next release.

p.s. I'm not totally sure about how to fix this either, but I _think_ the links need to go up one level with "../" so that the plugin page name gets added onto "h<span>ttp</span>s://www.jspsych.org/plugins" instead of being appended onto the current page ("ht<span>tp</spam>s://www.jspsych.org/plugins/ove

[2020-12-03 19:01] #1262 closed

[2020-12-03 19:04] #1265 closed

[2020-12-07 10:29] mrzdcmps opened #1287 "jsPsych.startTime(); is undefined"
Hi,
I am trying to add a timestamp to the experiment's data, but the function "jsPsych.startTime();" returns "undefined".
Date(); is working however.

[2020-12-07 17:14] mrzdcmps opened #1292 "Charset for csv export"
I have yet another issue. I am using Umlauts (ä, ö, ü) which works in the experiment when I am adding
`<meta charset="utf-8" /> `
to the head of the page. Unfortunately, when saving the data to a csv-file the UTF-8 charset is not being used.
I tried adding the UTF-charset in the saveData function, but no luck so far.
`    function saveData(name, data){
      var xhr = new XMLHttpRequest();
      x

[2020-12-07 21:42] becky-gilbert commented on #1287
Hi @mrzdcmps, is it possible that `jsPsych.startTime()` is being called before the experiment starts, i.e. when the page first loads? This would happen if it's in the main script rather than inside of a function (like a [dynamic parameter](https://www.jspsych.org/overview/trial/#dynamic-parameters) or [callback function](https://www.jspsych.org/overview/callbacks/)). I've just tried this and it wo

[2020-12-07 21:51] #1258 closed

[2020-12-08 08:40] mrzdcmps commented on #1287
@becky-gilbert That's it - thanks!

[2020-12-08 08:40] #1287 closed

[2020-12-08 11:27] asdf10203040 opened #1295 "put more than one picture on page!"
is there ant way that we can put more than one picture on the html page, such as "html-keyboard-response" or "image-keyboard-response"? or other ?

[2020-12-08 21:08] #1295 closed

[2020-12-09 00:16] #645 closed

[2020-12-09 14:00] jodeleeuw opened #1296 "6.3 Release Notes"
# New Features

- Added the concept of `extensions` to the jsPsych architecture. Extensions are code modules that are designed to extend the functionality of any plugin. Eye tracking is an example of a feature best supported via an extension. The extension is responsible for gathering gaze data and adding the data to the trial. The advantage of using an extension is that the feature can then be ad

[2020-12-09 18:20] becky-gilbert commented on #164
I was thinking about this while working on the docs for 6.2 It'd be nice to have live examples alongside the code examples in the plugin docs. Or even just screenshots/gifs, if live demos are too tricky to set up.

Where would we host the live demos, and how would they be integrated with the docs? iframes in the docs pages?

[2020-12-10 18:17] becky-gilbert opened #1305 "render_on_canvas: true doesn't work when images aren't preloaded?"
See #1304

[2020-12-12 00:53] becky-gilbert commented on #734
@jodeleeuw is this pull request #1306 what you had in mind for this issue? (Also discussed here: #1147). Although this PR doesn't address the abstraction issue: moving certain things that are currently repeated across plugins into the pluginAPI.

I'm wondering whether #1306 should be linked to this issue so that merging it will close the issue. What do you think?

[2020-12-12 06:16] revatis2 opened #1307 "Image appearing intermittently as a video is playing? For an experiential sampling setup"
Hi!

I'm really grateful for the jspsych community. I have coded 5 experiments so far, without a hitch. Great work!
I am coding a new experiential sampling experiment where participants watch a video and as they are watching it, a probe appears which indicates they have to make a keyboard response. The probe appears randomly in the middle of the screen. Maybe overlapping on the video. I am not sur

[2020-12-16 16:00] jodeleeuw commented on #585
I took a first pass at adding this feature on the `feature-timeline-events` branch.

I created `on_timeline_start` and `on_timeline_finish` as events.

A decision needs to be made about when these events should fire. Right now, I'm firing them when the `conditional` and `loop` functions would also fire. However, this revealed some odd behavior.

For `on_timeline_start`, it fires:
* When the timeli

[2020-12-16 20:19] jodeleeuw commented on #883
I implemented this in the `feature-timeline-variable-simplify` branch based off of @vijaymarupudi's approach. It seems to work well! One thing I had to add was switching the `call_immediate` context before other kinds of callbacks, like `loop_function`, `conditional_function`, `on_finish`, etc. I am worried that I missed some particular context, so adding some additional tests would be really help

[2020-12-17 20:39] jodeleeuw commented on #988
I think this is now working on the `feature-nested-function-parameters` branch. There is a theoretical use case that I think won't work. If you had a nested parameter where you *wanted* one of the parameters to be a function that was **not** evaluated prior to loading the trial then the approach I've implemented has no way of detecting that. This may be worth adding before we merge it in. I could

[2020-12-21 12:49] lawero opened #1325 "exclude Participants Based on Browser (not features but type) and device"
As the title say I need to run an experiment only through Chrome and personal computer (not smartphone or tablet). There is a way to obtain it?

Thx!

[2020-12-22 22:43] jodeleeuw commented on #823
I've implemented a first pass at this in the `feature-params-in-data` branch. I added a parameter called `save_trial_parameters` that works in any plugin. Like other default parameters it is processed in `jspsych.js` instead of in plugin files. You can use it to specify which properties should be included and excluded from the trial, like this:

[code]

[2020-12-22 22:50] jodeleeuw commented on #823
A few quick thoughts of next steps:

- We should probably add test cases for saving parameters that are objects, arrays, and functions to the data to ensure it behaves as we want. (Not sure what we want when the parameter is a function -- not a dynamic parameter, but an actual function like in the reconstruction plugin).
- Some plugins save trial parameters right now and others don't. This method

[2020-12-23 14:59] jodeleeuw commented on #832
I added a first pass at this feature in the `feature-css-class-trial` branch. It uses the same syntax described above. The testing suite is kind of minimal at the moment. It would be good to expand it to include things like:

- Making sure that the property is inherited in nested timeline structures
- Making sure it works with functions
- Making sure it works with timeline variables
- Adding a war

[2020-12-23 15:16] jodeleeuw commented on #1231
This turns out to be really difficult to do in the current implementation of timelines. The trouble is that the merging of `data` parameters happens before the experiment runs, but we need to hold onto the function parameter until the trial executes. So we'd have to store both the object of data values and the function. This might be more reasonable to do with an eventual rewrite of the timeline c

[2020-12-23 16:46] jackdolgin commented on #494
@becky-gilbert and @mjaquiery just wanted to say that ultimately what worked for me was using custom (non- js psych) code to record the audio, convert it from webm to wav, and then save the wav in a non-public folder on a server I've been using. I realize not everyone may have access to a server where that's possible, but I basically modeled my code off [this comments on a related blog](https://ww

[2020-12-24 18:13] defnebuyuky opened #1334 "can't use canvas-keyboard-response on cognition.run"
I wrote a simple experiment that shows canvas objects and records keyboard responses but there are 80something errors appearing from the jspsych.js file. I am also quiet new to coding experiments in jspsych. So I guess my question/issue is whether the canvas-keyboard-response is "usable" in cognition.run. The experiment runs perfectly fine locally on chrome. Just for reference, some of the errors

[2020-12-24 20:57] jodeleeuw commented on #1334
Has cognition.run added support for jspsych 6.2 yet?

[2020-12-28 19:00] jodeleeuw commented on #1237
I implemented a first pass at this in the `features-all-timeline-vars` branch. I added a single test case to the end of `timeline-variables.test.js`. It needs a lot of expansion to make sure this implementation works.

[2020-12-28 19:03] jodeleeuw commented on #1334
I confirmed that cognition.run has support for 6.2 as of today. @defnebuyuky can you confirm that you are using version 6.2 in cognition.run?

![image](https://user-images.githubusercontent.com/595524/103237392-6d30fd00-4915-11eb-952e-73228e00e829.png)

[2020-12-30 02:57] jodeleeuw commented on #883
I added a bunch of tests for this. I am pretty confident it works in all the major places it might be used. Need to update docs still.

[2020-12-30 03:06] jodeleeuw commented on #832
Added testing to cover above.

Implementation gracefully handles case where a single class is given in non-array format.

Still need to add docs.

[2021-01-02 10:44] FedericoCurzel opened #1340 "How to couple two plugins in a single trial and get "continuous" data/responses from a slider ?"
Hi everyone!

I am trying to setup an experiment and I am facing two problems:
1. In every trial I need to have two plugins: a **slider** and a **keyboard response**, together with a **video** and a _separated_ **audio** that will be my stimuli. How can I do it? ;
2. I need to record "continuous" responses from the slider (get the slider position every 'X' seconds during the trial) and also to rec

[2021-01-05 13:33] defnebuyuky commented on #1334
Yes I'm using the version 6.2.0. Just a heads up - the canvases seem to only work when I upload the jspsych-canvas-keyboard-response.js file as an external file though. That's how I resolved the issue. I didn't had to do that with other experiments I ran on cognition. I checked again and the canvas related plugins won't work until the related js files are uploaded manually, but they work

[2021-01-05 17:34] bjmeagher opened #1346 "Inconsistent number of trials"
I'm running into an odd issue with the number of trials shown to my participants. In a recent experiment, my intention was to have 100 trials per participant, but every so often, I seem to get one who is run through more. In extreme cases, the number of trials is nearly double what I intended it to be.

Have others run into similar issues? Is there a list of "usual suspects" that would cause an er

[2021-01-06 02:33] jodeleeuw commented on #1346
Is it possible that participants are refreshing the experiment and starting over? Are you saving data all at once or trial-by-trial?

[2021-01-06 14:38] jodeleeuw commented on #1334
Hey @javidalpe, are the new plugins included in cognition.run's deployment of 6.2?

[2021-01-06 17:16] gaiamolinaro opened #1347 "Create timeline dyanmically"
Hi! I'm trying to dynamically create a timeline. The experiment is actually a questionnaire, such that questions will be repeated in a loop until the participant gets it right. They will also receive feedback on every question.
I have looked at conditional timelines https://www.jspsych.org/overview/timeline/#conditional-timelines, but I am not sure how to insert the loop. Ideally, I would like to

[2021-01-06 17:33] #1347 closed

[2021-01-06 18:18] bjmeagher commented on #1346
I am saving data on a trial-by-trial basis. If participants are starting over, they shouldn't be recorded as the same participant once the page is refreshed; a new random subject ID is created each time.

[2021-01-06 22:46] becky-gilbert commented on #1305
When the image isn't preloaded, it may not be finished loading when the `ctx.drawImage` function is called, which means that nothing is drawn on the canvas. And unlike presenting images with an `img` tag, if there's a loading delay then the image will not automatically appear _after_ it has finished loading. We can fix this by making sure that the image isn't drawn on the canvas until after it has

[2021-01-06 23:10] becky-gilbert commented on #638
Data variable names need to be checked/changed in the following places:

- [ ] all plugin files (jsPsych/plugins)
- [ ] test.js files (jsPsych/tests)
- [ ] example files  (jsPsych/examples)

And in the following documentation pages:

- [ ] https://www.jspsych.org/tutorials/rt-task/
- [ ] https://www.jspsych.org/overview/timeline/#looping-timelines
- [ ] https://www.jspsych.org/overview/timeline/#c

[2021-01-06 23:25] jodeleeuw commented on #1305
Yeah, I like that solution!

Creating the preloading plugin (I suggest it in this thread #1234) will also help solve this issue by making it easier to preload small sets of images. I should open an issue for that plugin and add it to 6.3....

[2021-01-06 23:26] jodeleeuw commented on #638
Let's call everything `response` so there's always one column regardless of which plugins are used.

[2021-01-06 23:31] becky-gilbert commented on #1334
FYI @javidalpe I can confirm that the new canvas-keyboard-response plugin isn't available on cognition.run when v6.2 is selected. I get the error: No plugin loaded for trials of type "canvas-keyboard-response" (I think the errors in the first post in this thread are secondary)

Demo/code: https://nm7ivtveqa.cognition.run/

Older plugins still seem to work fine with 6.2, so I'm guessing Josh is cor

[2021-01-06 23:34] jodeleeuw opened #1351 "Move preloading behavior to a plugin"
Following ideas from #1234:

[code]

[2021-01-06 23:36] becky-gilbert commented on #1305
Great, thanks!

[2021-01-07 11:10] defnebuyuky opened #1352 "2 Questions about using HTML canvases via canvas-keyboard-repsonse plugin"
I am currently working on an experiment where I am creating canvas drawings of different shapes. Currently I wrote separate functions to create the different shapes. For example function ( ) drawTriangle draws a triangle for a trial, function ( ) drawRect ( ) draws a rectangle, etc. I need to do this for a number of polygons so I was wondering if there's a clever way to compress it.

Also, is ther

[2021-01-07 17:55] mingjia1025 opened #1353 "psychophysics plugin"
@kurokida
I have some issues on using psychophysics objects as timeline variables in my jspsych code. On each trial of a training block, subjects should be first presented a stimulus pattern and prompted to respond. After they make a response, the stimulus pattern should stay unchanged but the prompt changed to a feedback depending on their response.

Now I'm able to show the stimulus as I wanted

[2021-01-07 18:31] becky-gilbert commented on #1351
Great idea. I agree that this will help with parameterization and flexibility in terms of when exactly to load particular files during the experiment.

I'm not clear on how exactly this would work. In the case where all stimuli files can be auto preloaded, does this mean the researcher adds the preload trial to the timeline but doesn't need to pass in any image/audio/video arrays (i.e. these will

[2021-01-07 19:38] becky-gilbert commented on #494
@jackdolgin thanks so much for sharing your solution and resources! You're right that not everyone has access to a server that allows uploading arbitrary files, but when that's possible, your solution seems great. So although the jsPsych audio recording plugins need to offer the (non-ideal) text-based/embedded jsPsych data solution, I think we can do a better job of supporting other ways of saving

[2021-01-07 19:52] becky-gilbert commented on #1325
Hi @lawero, sorry for the slow response. Not sure if you've already found a solution for this? In case you haven't - you can check out [this pull request](https://github.com/jspsych/jsPsych/pull/641) that shows how to exclude mobile devices. If you look in the 'files changed' tab, you can find the relevant changes, which is just the code in the `if` statement in jspsych.js. That `if` statement wil

[2021-01-07 20:12] becky-gilbert opened #1355 "RDK plugin not centering correctly?"
See #1333. Thanks @zx23237 for reporting this!

[2021-01-07 21:28] lawero commented on #1325
Thank you very much!
Now I close this issue because this is for sure the answer I was looking for but I'll leave soon an update with my implementation.

[2021-01-07 21:28] #1325 closed

[2021-01-07 21:38] jodeleeuw commented on #1351
I took a first pass at this in the `feature-preload-plugin` branch. It involved a bunch of changes to core jsPsych code.

- Removes `autoPreload` method from `jsPsych.pluginAPI`
- Removes all preload-associated parameters from `jsPsych.init()`
- Adds a method `jsPsych.getAutoPreloadList` to `jsPsych.pluginAPI`. This method takes a timeline description and returns an object with `{images, video, au

[2021-01-07 21:41] becky-gilbert commented on #1325
Great! @lawero yes please feel free to update this thread with your implementation, in case other researchers want to do the same thing. Thanks!

[2021-01-07 22:05] becky-gilbert commented on #1351
How about allowing the `auto_preload` parameter to take _etiher_ a boolean (where `true` means automatically preload the whole timeline) _or_ a subset of trials. (Or separating these into two parameters).

Using a boolean would eliminate the circular `timeline` reference problem, but would mean that the preload plugin code needs to be able to access the whole timeline via a jspsych.js function.
[c

[2021-01-07 23:59] javidalpe commented on #1334
Thank you @defnebuyuky for reporting the error and thank you @jodeleeuw and @becky-gilbert for debugging the problem. You were right, I'm hardcoding the list of available plugins and I didn't even notice that I needed a new list for jspysch 6.2 🤦 Canvas-* and maxdiff were missing 👎

I've uploaded a new list, tested the experiment and it works!

[2021-01-08 00:04] becky-gilbert commented on #1334
No problem @javidalpe and thanks very much for the quick fix!

[2021-01-08 00:04] #1334 closed

[2021-01-08 03:17] jodeleeuw commented on #1351
Great ideas. I decided to make `auto_preload` strictly boolean, and added an additional parameter called `trials` that can take an array of trial descriptions to preload from.

This is now on the `feature-preload-plugin` branch. I added two test files, one for the new `getAutoPreloadList` method and another for the plugin. Can you work on expanding the test suite, doc updates, etc.? Also, feel fre

[2021-01-08 04:24] becky-gilbert commented on #1351
Got it - will do!

[2021-01-08 06:12] kurokida commented on #1353
Thank you for using my plugin!

I run your code, but I couldn't see the error message: "the angle and position of the line can't be specified at the same time."

It is possible that you're using the old jspsych-psychophysics code which include bugs.
Could you download the latest one from
https://github.com/kurokida/jspsych-psychophysics/releases
The latest version is v2.0.

After that, please let

[2021-01-08 17:35] lawero commented on #1325
My solution for checking the browser is quite easy but I think it's quite raw too. I need to know just if the browser is Chrome and I tested the code only with these three (see code).

The exclusion for the mobile already works for me (I tested with just two phones).

Of course it's really easy for an user to trick this exclusion controls but for me this is far to be important. It's more a strong

[2021-01-09 19:21] becky-gilbert commented on #1305
This issue is now fixed in the bugfix-image-canvas branch. I updated the image-* plugins so that they include an `img.onload` function that will draw the image on the canvas after it loads, assuming it isn't immediately available (i.e. cached). So now when the image isn't preloaded, it will be displayed as soon as it loads. Note that in practice this may mean that the image is never displayed, if

[2021-01-09 23:35] becky-gilbert commented on #883
Assigning myself so that I know to update the docs. Just let me know if you're still working on this and/or want me to do anything other than docs.

[2021-01-10 00:18] jodeleeuw commented on #883
I think the code is good here. Feel free to add docs and then merge!

[2021-01-10 18:10] #1353 closed

[2021-01-11 16:16] jodeleeuw commented on #1346
Does the data you are getting give you any clues about what could be going on? For example, what does the `trial_index` column look like for the subjects with too many trials. Does it just keep going up?

How is your experiment set up to deliver 100 trials? Is it just a fixed timeline? Timeline variables? Something else?

[2021-01-11 18:25] becky-gilbert commented on #1355
Turns out that this issue reported in #1333 relates to v6.1.0 of the plugin, so I think this issue has already been resolved in the latest release (v6.2.0, #881).

Please feel free to comment here if there's still a problem with RDK centering and/or scroll bars in v6.2.0, and we can re-open this issue.

[2021-01-11 18:25] #1355 closed

[2021-01-12 22:24] becky-gilbert commented on #832
Just updated `feature-css-class-trial` with the following:
- added `css_class` to the docs page about parameters available in all plugins (plugins/overview/#parameters-available-in-all-plugins)
- added an example HTML page (examples/css-classes-parameter.html)

I'm still trying to understand the main use cases for this feature so that I can include some useful examples. From what I can tell, this

[2021-01-12 22:47] jodeleeuw commented on #832
I think this can be used to control styles in more detail because you can specify CSS selectors that depend on parent elements. So if you set the CSS class `.left-align` on the `jspsych-content` div you can specify a rule like:

[code]
And this would affect any `<p>` tag with the class `stimulus` that is within an element with class `left-align`.

I think this allows one to do some clever things w

[2021-01-12 23:37] becky-gilbert commented on #832
Aha, thanks! That's what I was missing. I'll update my example HTML file to show how to do this.

[2021-01-13 20:04] becky-gilbert commented on #832
Updated docs and examples. Ready to merge?

[2021-01-13 20:50] jodeleeuw commented on #832
Looks awesome. Do you think it's worth adding a mention anywhere in the Overview section of the docs? Worried that it's hard to find right now, but maybe the feature isn't so important to highlight. I'm on the fence.

[2021-01-13 21:00] becky-gilbert commented on #832
Yes, good idea.
One option is to add a section that _only_ covers the `css_classes` parameter.
Another option is to add a section that's about change style/formatting more generally - maybe just explaining that you can do this in a few different ways, with very basic examples of each:
- inline style in an HTML string
- style tags (with the limitation that the CSS rules work the same way across all

[2021-01-13 21:04] jodeleeuw commented on #832
I like your idea of covering style/format more generally. I think that would be very useful. Maybe even it's own page within Overview. I think that the "advanced options" page is poorly named (I named it!) and maybe we could even bump dynamic parameters to its own page as well?

[2021-01-13 21:09] becky-gilbert commented on #832
Sounds good! I'll add a new page within Overview for general style/formatting. Not sure what to name it yet...

And I agree about the "advanced options" page name (sorry!). I think Dynamic Parameters deserves it's own page.

[2021-01-14 15:36] jodeleeuw commented on #670
@becky-gilbert I went ahead and worked on this in the `feature-objects-arrays-in-data` branch.

It changes a core design idea: now we store objects and arrays in the data directly, instead of JSON versions of them. I updated all of the plugins that this affects, wrote a simple test to check the output of both `.json()` and `.csv()` methods in `jsPsych.data`, and updated the CSV conversion function

[2021-01-14 17:06] becky-gilbert commented on #1123
@jodeleeuw I know this is a priority so that we can get eyetracking up and running. Let me know if there's anything I can do to keep it moving forward 👍

[2021-01-14 18:05] jodeleeuw commented on #1123
Thanks @becky-gilbert ! I've been working a lot on this in the corresponding branch. I think the core tech is in place now. I'm mostly fiddling with webgazer stuff to try and get good calibrations. I don't think there's a good way to split this work at the moment, but I'll keep you updated for sure.

[2021-01-14 18:15] becky-gilbert commented on #1123
Got it, thanks for the update @jodeleeuw !

[2021-01-15 16:30] jodeleeuw commented on #649
After reading about this a little more, I don't think it makes sense for us to offer partial support for `.mov` files. It looks like cross-platform adoption is too low. It's probably  a better experience for researchers to warn them about using `.mov` than to partially support it.

[2021-01-15 16:30] #649 closed

[2021-01-15 20:22] jodeleeuw opened #1373 "Exclude based on mobile device"
Opening this to track issue raised by #641.

[Some thoughts from MDN](https://developer.mozilla.org/en-US/docs/Web/HTTP/Browser_detection_using_the_user_agent) about what to do.

[2021-01-15 23:11] becky-gilbert opened #1374 "Docs reorganization, move 'dynamic params' to its own page"
Opening this issue to track the docs changes suggested in [this comment](https://github.com/jspsych/jsPsych/issues/832#issuecomment-759738847) in the css_classes issue thread.
- Move 'dynamic parameters' section to its own page in Overview, to make it easier to find
- Rename 'Advanced Options for Trials' page?
- Will the rest of the content on 'Advanced Options for Trials' stay the same?

Once pag

[2021-01-15 23:53] becky-gilbert commented on #832
I added a first draft of a new "Style and Formatting" page to go in the Overview section of the docs. I may have gone overboard - sorry 😬 Please feel free to comment/edit mercilessly!

I also made some changes to the "css-classes-parameter.html" example file, such as adding examples that show how to write more specific CSS selectors, as explained in your [earlier comment](https://github.com/jspsyc

[2021-01-16 02:56] jodeleeuw commented on #396
@becky-gilbert I implemented this one in `feature-key-code-update`. It's a simple change, but there are a lot of affected locations in the code. They key point is that numeric keyCode values won't work anymore. Instead, it's all string-based codes.

I tried to catch as many refs in the documentation, but I'm sure that I'm missing many places. If you can take a look for places that I missed that wo

[2021-01-16 03:05] jodeleeuw commented on #832
This is amazing. I think it's going to be super helpful for lots of folks! I read through it quickly to get a sense of scope and I think the thoroughness is excellent here. I didn't read closely for minor edits, but I can do that later if you'd like. I'm also not worried about it and think you can go ahead with this if you are happy with it.

[2021-01-16 03:12] becky-gilbert commented on #396
Will do!

[2021-01-18 17:52] #1305 closed

[2021-01-18 17:52] #883 closed

[2021-01-18 19:45] becky-gilbert commented on #1351
@jodeleeuw two questions about this preload plugin:
1. What should the plugin's behavior be if preloading fails? Right now the preload trial ends the same way, regardless of whether preloading fails or succeeds. Do we want to replicate the old preloading behavior, where if preloading fails, the experiment stops with a (parameterized) error message? If not then I think the trial data should contain

[2021-01-18 19:49] jodeleeuw commented on #1351
I like the `success` variable in the data. Maybe also a list of `failed_images`, `failed_audio`, and `failed_video` that gives the path to each failed load resource?

Good catch on the `preloadAudio`! I think this is a good moment to make things consistent.

[2021-01-18 19:58] becky-gilbert commented on #832
Yay, great! No need to look at it more closely right now - I just wanted your thoughts on the general scope and level of detail etc. It'd be great if at some point you could have a closer look for minor edits and to improve the examples.

This feature seems to be working well and I think we're done with the tests and docs, so ready to merge? (I can remind you to look at the Style and Formatting pa

[2021-01-18 20:09] jodeleeuw commented on #832
🚀 merge away!

[2021-01-18 20:19] #832 closed

[2021-01-18 21:47] rachelkytsui opened #1380 "response_allowed_while_playing plugin doesn't seem to be working"
Hi, I am currently trying to construct an experiment where I want the participants to make button responses only after the audio is played. Using the "audio-button-response" plug-in, I've set the following parameters:

[code]

However, even if response_allowed_while_playing has been set to false, I was still able to make a button response before the audio finished playing.

How could I make sure a

[2021-01-18 22:05] jodeleeuw commented on #1380
Hi @rachelkytsui,

Just a quick verification: are you using jsPsych 6.2? This feature was added in 6.2, so if you happen to be using an earlier version you'll need to get the latest code before this works.

[2021-01-18 22:07] rachelkytsui commented on #1380
Hi @jodeleeuw, thank you for letting back to me! Yes, I am using version 6.2.0.

[2021-01-18 22:09] jodeleeuw commented on #1380
Thanks! I'll look into it and see if I can reproduce the issue.

[2021-01-18 22:22] jodeleeuw commented on #1380
@rachelkytsui so far I haven't been able to replicate the problem. Here's a demo on cognition.run that shows the correct behavior:

https://4urketr702.cognition.run/

I used similar parameters to your trial, though I didn't use timeline variables or images as the buttons:

[code]

Can you see if using the trial definition above fixes the issue? That would narrow it down to some kind of bizarre int

[2021-01-18 22:41] rachelkytsui commented on #1380
@jodeleeuw It seems to be a problem with the custom HTML buttons. The above code works (i.e., not defining an image button) such that no response is allowed before the audio is done. But once I defined the button_html parameter, it's not the same anymore -- response are possible before the audio finishes.

[2021-01-19 02:49] becky-gilbert commented on #1380
I'm guessing this has to do with how the plugin code is finding the button on the page in order to hide/disable it. I'll fix it on the master branch and then it'll be fixed in the next release. Sorry about this @rachelkytsui and thanks for reporting it!

[2021-01-19 11:20] henry-burgess commented on #882
Hi @jodeleeuw, I'd be happy to look into this!

[2021-01-19 17:13] #1352 closed

[2021-01-19 17:14] #1292 closed

[2021-01-19 17:17] jodeleeuw commented on #1235
I suppose we could add a second optional parameter to `on_finish` that allowed modifying this parameter value in place. I'm a little hesitant to add the complexity for the single-use case. I'm trying to come up with other cases where the suggestion of a `deferredVariable` could be applied. @jkrumbiegel any ideas?

[2021-01-19 19:20] rachelkytsui commented on #1380
@becky-gilbert @jodeleeuw Thank you so much for the response! What would be the best way to get this to work in the current 6.2.0 version?

[2021-01-19 20:39] jodeleeuw commented on #1380
I think we can patch this pretty quickly and then you can use the patched plugin before we release 6.3. Becky's diagnosis of the problem is exactly right.

@becky-gilbert are you already working on this, or should I take care of it? I'm happy to do it. Just don't want to duplicate efforts!

[2021-01-19 20:54] becky-gilbert commented on #1380
@jodeleeuw I'm not working on this now so it'd be great if you could do it! Otherwise I'll have time later today or tomorrow.

[2021-01-19 22:00] #1380 closed

[2021-01-19 22:02] jodeleeuw commented on #1380
@rachelkytsui this is now fixed! You can grab [the latest code for the plugin](https://github.com/jspsych/jsPsych/blob/master/plugins/jspsych-audio-button-response.js) and swap it into your copy of 6.2.

[2021-01-19 22:36] rachelkytsui commented on #1380
@jodeleeuw It works! Thanks you so much!

[2021-01-19 22:37] becky-gilbert commented on #1351
Sorry @jodeleeuw, another question about this plugin: What should the `show_detailed_errors` parameter do? Show error info in the console, or on the page as in #1234? Something else?

At the moment the preload plugin doesn't actually stop the experiment when loading fails - instead it ends the trial with `success: false`, and we're expecting the researcher to check/catch any errors after the trial

[2021-01-20 01:38] becky-gilbert commented on #1351
I pushed some changes to this branch, including an [example HTML file](https://github.com/jspsych/jsPsych/blob/feature-preload-plugin/examples/jspsych-preload.html). I might be missing something, but this plugin doesn't feel as user-friendly as it could be. I think most researchers will want to do different things depending on whether or not the preloading was successfully, so I'm wondering if we

[2021-01-20 15:05] jodeleeuw commented on #1351
@becky-gilbert this is great feedback. I think I was focused on getting the core mechanics in and didn't think hard enough about what to do when preloading fails.

I think your solutions are great. One additional idea that @javidalpe suggested is having an error event handler that could be called. Maybe an `on_error` parameter with an informative `error` parameter?

[2021-01-20 18:50] becky-gilbert commented on #1351
No problem at all! I knew you'd just made a start on this and hadn't finished, just wanted to make sure that I understood your plans for this plugin 😃

Sounds good! Would this `on_error` parameter be _in place of_ or _in addition to_ the other error-related parameters that I suggested (`continue_after_error`, `error_message`, `error_message_duration`, `show_detailed_errors`)? These latter paramete

[2021-01-20 18:55] jodeleeuw commented on #1351
I like the parameters you suggested since they cover the most common use cases. The `on_error` would add additional flexibility, and would allow services like cognition.run to attach an error handler automatically.

Yes, this sounds right to me.

Is the idea behind `error_message_duration` that someone might want to show an error but then continue anyways? I'm trying to think of a use case where I

[2021-01-20 18:56] jodeleeuw commented on #1346
Moving this over to a discussion thread

[2021-01-20 18:56] #1346 closed

[2021-01-20 18:56] jodeleeuw commented on #1340
Moving this over to a discussion thread

[2021-01-20 18:56] #1340 closed

[2021-01-20 19:47] mirh opened #1393 "Be more packet loss resistant"
So, I reckon this is kind of an odd bug report.
I don't really have access to the sources of the experiment I was just a participant in, but after some debug tools juggling I found it should have been using JATOS 3.5.4 and jsPsych 6.1.. so I hope this is the right repo and that the problem can be [reproduced](https://networkengineering.stackexchange.com/questions/204/emulate-ethernet-frame-loss-fo

[2021-01-20 19:52] becky-gilbert commented on #1351
Yeah now that you mention it, there's probably not a good use case for showing the error message and then continuing on with the experiment. And if someone wants to do that then it can still be done via the `on_error` function. I'll scrap the `error_message_duration` parameter.

And maybe instead of the `continue_after_error` parameter name, we should just call it `show_error_message`. If `true`,

[2021-01-20 22:50] jodeleeuw commented on #1351
I think I prefer `continue_after_error` here because it's clear what it does for the flow of the experiment. I'm worried that `show_error_message` doesn't make it clear that the experiment will stop on an error. I realize that it's not clear whether a message will show with `continue_after_error` but I think that's the less important consideration for a researcher.

I don't think you are missing a

[2021-01-20 23:39] becky-gilbert commented on #1351
Got it - thanks! I think I can finish up the implementation/docs/examples now, and then we can make further tweaks if necessary.

[2021-01-21 19:57] awb99cu opened #1399 "Continuously looping a trial for a predetermined duration"
I am designing an experiment in which participants must perform simple arithmetic for 30 seconds before going on to the next task. I initially tried to do this by setting a timer and using a ```while``` loop:

[code]
When that didn't work, I also tried using ```if``` statements, but that also failed. Can someone please advise? I'm new to JSpsych so I apologize if this has been addressed in the doc

[2021-01-22 17:11] klanderson commented on #75
Would more accurate timing of stimulus presentation also improve response time measurement? I get the sense that it would because you’re improving the accuracy of one of the two measurements required to compute RT. Anyway, if so, then I’m very interested in this feature and if there’s any way I could help, let me know

[2021-01-22 17:32] becky-gilbert commented on #75
Thanks for the update @hstojic! Would you be willing to share your rAF implementation and/or photodiode results? I ask because I've started working on the switch to rAF timing in the next release, and it would be helpful to know if we can improve our algorithm. When Josh and I tested this a while back, I believe we found that using a time-based threshold was better than frame counting, and that us

[2021-01-22 17:49] klanderson commented on #75
I have a device that I’ve been using to verify response timing measurements. It’s a microcontroller with photodiode and solenoid, so can press a key after detecting light change and record the timing of each event. I’d be happy to do measurements if you need them

[2021-01-22 18:22] becky-gilbert commented on #1399
Hi @awb99cu, your approach is totally sensible from a 'normal' programming perspective. The reason this doesn't work is that jsPsych needs to construct the timeline before the experiment starts, so it's not really possible to add new trials onto the `timeline` array in the way that you've been trying to do here. However, jsPsych provides other ways to change the flow during the experiment, for ins

[2021-01-22 23:20] awb99cu commented on #1399
Thank you so much Becky! Your solution worked beautifully.

Best,
Adam

On Fri, Jan 22, 2021 at 1:23 PM Becky Gilbert <notifications@github.com>
wrote:

--
Ph.D. Candidate
Psychology & Cognitive Science
Cornell University | Uris Hall B107

[2021-01-22 23:27] hstojic commented on #75
hello, my implementation was straightforward I have followed what Josh showed in his examples
[code]

re data, that would be a bit more difficult now to dig up, I hope this still helps

[2021-01-23 01:14] becky-gilbert commented on #75
Thanks @hstojic, this is helpful. I'm also interested in how you determined whether the stimulus should be removed from the screen, i.e. your `check_timeout` function. It'd be great if you get a chance and wouldn't mind sharing, but no problem if not.

[2021-01-25 10:02] hstojic commented on #75
of course, here it is:
[code]

[2021-01-25 10:34] grocio opened #1404 "Hide mouse cursor on a trial"
I'd like to hide the mouse cursor and allow keyboard input at a trial-level (surprisingly, hiding the cursor disables keyboard input in a certain case). I know a solution but I'd like to know best practices.

In a relevant thread on jsPsych's google group [https://groups.google.com/g/jspsych/c/edptYoa0JBc](https://groups.google.com/g/jspsych/c/edptYoa0JBc), @jodeleeuw recommends using the CSS styl

[2021-01-25 14:59] jodeleeuw commented on #1404
I'm converting this to a discussion post.

[2021-01-25 15:00] #1404 closed

[2021-01-25 15:07] #1399 closed

[2021-01-25 22:35] becky-gilbert commented on #75
Thanks very much @hstojic!

[2021-01-26 20:37] jodeleeuw commented on #585
This is now updated so that `on_timeline_finish` and `on_timeline_start` both run when the timeline is repeated due to `repetitions` being > 1. They do not run repeatedly when timeline variables are used.

I also fixed unintended behavior in the `conditional_function`, it was running multiple times when `repetitions` > 1. This is now changed so that the `conditional_function` executes at the start

[2021-01-26 20:37] jodeleeuw commented on #585
Handing this over to you now @becky-gilbert

[2021-01-26 21:20] awb99cu opened #1412 "Loading .txt file for stimulus presentation"
I'm new to JSPsych, but I've been trying to construct a free recall experiment in which word lists are loaded into javascript from a text file on the host computer. I've tried a number of solutions such as fileReader and ajax, but I can't get any of them to work in Chrome.

Is there a way to read text files into jsPsych as one would an image file, and present them serially as a list?

Thank you,
A

[2021-01-27 16:22] jodeleeuw commented on #1412
Converting this to a discussion

[2021-01-27 16:22] #1412 closed

[2021-01-27 16:49] jodeleeuw commented on #988
@becky-gilbert I've added some additional functionality to protect nested function parameters from early evaluation. Wrote a test for this and everything seems to be OK. Handing it over to you now.

[2021-01-28 01:41] becky-gilbert commented on #1393
Hi @mirh, thanks for reporting this. To ensure that stimuli files load successfully and are available when they need to be presented, we encourage researchers to [preload/cache their stimuli](https://www.jspsych.org/overview/media-preloading/) at the start of the experiment. So it might be that the experiment you took part in didn't do any preloading. (And even when preloading is implemented by th

[2021-01-28 15:20] giuliaccc222 opened #1428 "Gabor embedded in dynamic noise"
Hi, I'm working on an experiment where I should present gabors varying in contrast embedded in dynamic noise. I was thinking to use the rdk plugin to potentially generate noise and display gabors on top of it, but I am not sure whether that's possible (I guess it would mean to combine two plugins/present a stimulus generated by a plugin while maintaining the other in the background). Alternatively

[2021-01-28 15:24] #1428 closed

[2021-01-29 01:10] becky-gilbert commented on #1351
Quick question @jodeleeuw: the `auto_preload` method doesn't seem to work with a nested timeline, like this:
[code]
Is that what you'd expect?

[2021-01-29 02:29] jodeleeuw commented on #1351
No, I intended for nested timelines to be covered. I can work on the fix soon. Did you add a test case to cover this?

[2021-01-29 06:42] becky-gilbert commented on #1351
Yep the code above is from my test. The tests for timelines in objects with conditional and loop functions are working. I can push my changes to the branch tomorrow if that helps.

[2021-01-29 22:31] jodeleeuw commented on #1351
@becky-gilbert I think this is fixed now. This was an error because my function for finding preload targets didn't account for cases where the `type` parameter was inherited from the parent timeline. This was probably broken in previous jsPsych versions, but never noticed...

[2021-01-29 22:36] becky-gilbert commented on #1351
Ok thanks!
By the way I noticed that a bunch of my preload plugin tests aren't written very well. I've fixed them and will push an update soon.

[2021-01-30 00:48] becky-gilbert commented on #1351
I think this is about done.

I added as many tests that I could think of to the test.js file. However I did put some of the `expect` functions inside of `setTimeout` functions because I wasn't sure how else to wait until the preload trial stopped with an error before calling `expect`. In some cases I could've put them inside of callback functions, but I worry that it's possible that callbacks won'

[2021-01-30 01:17] becky-gilbert commented on #396
Hey @jodeleeuw it looks like you have a bunch of webgazer-related commits on this [feature-key-code-update branch](https://github.com/jspsych/jsPsych/commits/feature-key-code-update). I was planning to check this branch and merge into master ASAP. Is that ok?

[2021-01-30 01:19] jodeleeuw commented on #396
Ack, that was a mistake. I must have branched this from the webgazer branch by accident. I think it is safe to merge and when I push the webgazer stuff it will fix whatever problems this introduces. Unless there is a way to remove the webgazer stuff from this branch pre merge.

[2021-01-30 01:22] becky-gilbert commented on #396
I thought that might've been the case 😃 Yep I think I can selectively remove the webgazer-related commtis with `git revert` without losing the later keyCode-related commits. If I can't get that to work then I'll just leave it and you can fix any merge conflicts etc.

[2021-01-30 23:33] mirh commented on #1393
It's not about files not being immediately available, or "stuff taking more time than it should".
It's about their GET request having been reset in the middle.
Result is somewhat [like this](https://i.stack.imgur.com/pDs5e.png).

I don't know if from the application-side you can detect such mishap happening (be it directly at the network layer, or because expected file size doesn't match or someth

[2021-02-01 21:27] jodeleeuw commented on #1351
Yeah, that seems right to me!

One option might be to use [mock timers in Jest](https://jestjs.io/docs/en/timer-mocks). But I've also found situations in the test suite where mocks don't work and I've used `setTimeout`. As long as the timeout is short it's not a big deal.

[2021-02-01 21:29] egaudrain opened #1445 "Audio fails to start in Safari 14.0.2"
I've been battling with Safari and audio problems for a while, but that seems to be a new issue.

I understand that modern browsers only allow audio to play after there has been some interaction with the user (e.g. a click on a button). In a new experiment, the participants go through the instructions by hitting the spacebar or clicking on a piece of text. Then come some trials using the `audio-ke

[2021-02-01 21:44] becky-gilbert commented on #1351
Great, thanks!

Ah, I didn't know about mock timers. That looks like what I want. The timeouts are pretty short, but there's a lot of them and it slows things down, so I'll see if I can fix it quickly.

[2021-02-01 22:21] becky-gilbert commented on #396
Are we keeping all of the existing `pluginAPI` functions related to keys/keyCodes?
- `compareKeys`
- `convertKeyCharacterToKeyCode`
- `convertKeyCodeToKeyCharacter`

As far as I can tell, these won't be used in jspsych.js or any of the plugins in the next release. I guess they might be useful convenience functions for people to use when creating plugins, and for backwards compatibility?

[2021-02-01 22:41] egaudrain commented on #1445
To clarify, I am guessing that the difference between Safari and Chrome is that Chrome accepts any user interaction since context initialisation to unlock the audio context, while Safari only accepts user interactions that are directly linked to the audio context? As a result, I haven't found a way to make a feature-based case discrimination... and am thus relying on ugly User Agent parsing...

Me

[2021-02-01 22:43] becky-gilbert commented on #396
And a related question - should we keep the existing `KEYCODE` parameter type?
[code]
I think my vote is to change all of the key choice parameter types from KEYCODE to something like KEY or KEY_STRING in the `plugin.info` objects. I'm pretty sure all KEYCODE plugin parameters accept strings anyway, but changing the parameter type name would make it clearer that numeric key codes aren't allowed.
S

[2021-02-01 22:58] aridyckovsky opened #1448 "Feature Request: Event listener before `on_finish` based on user action"
There is currently an `on_finish` method for trials within a timeline, yet there are timeline items that could benefit from pre-finish processing. For example, if collecting a Twitter username and then sending an async verification request to the Twitter API, we would prefer to wait for verification on the same trial before moving forward. Then, if the verification is positive, move on; otherwise,

[2021-02-01 23:04] egaudrain commented on #1445
For __`use_webaudio=false`__, one has to use the play/pause trick on one sound... To do that, I exposed the list of ids of preloaded sounds in jsPsych.js by adding, before `return module`:

[code]
Then in the plugin, the `init_audio` function looks like this:
[code]
This seems to cover all cases.
Note that I think that it could be in general useful to expose some access to preload buffers.

[2021-02-01 23:19] becky-gilbert commented on #1448
Hi @aridyckovsky, thanks very much for this suggestion and for explaining this use case. We are planning to add a `validation` parameter to survey-* plugins, which would be a custom function that runs after a submit/next button is clicked, and determines whether the response is valid before finishing the trial - see #1207. So I think this would cover your use case, but please let us know if not.

[2021-02-02 01:44] jodeleeuw commented on #1448
Hey @aridyckovsky,

I'm wondering a little bit about the generic use case here. Do you think this is an event handler that would be useful across all plugins? It seems like it would be useful in a few specific instances like the one you described.

If there is a case to be made that it would be generically useful, then the second issue is implementation. Right now plugins only have to call the `fi

[2021-02-02 15:56] becky-gilbert commented on #396
@jodeleeuw sorry, just to clarify: as part of this change you wanted plugins to stop accepting numeric key codes in their key parameters, right?

[2021-02-02 18:55] jodeleeuw commented on #396
I think it's cleanest to drop support for the various keycode functions. If we want to maintain backwards compatibility, which is reasonable, then we could add a `console.warn` to these methods that suggests not using them anymore and that they may be removed in a future version?

I think replacing `KEYCODE` with `KEY` makes sense. There shouldn't be any compatibility issues to worry about because

[2021-02-02 19:31] becky-gilbert commented on #396
Good idea - much better than just removing these functions and hoping people catch it in the release notes! I'll take them out of the docs and leave them in jspsych.js with a `console.warn`.

Yeah I was pretty sure the parameter types aren't actually used right now, apart from FUNCTION and COMPLEX. I just thought it'd be nice for the sake of clarity. (And in addition to being useful for a GUI, may

[2021-02-02 22:11] egaudrain commented on #1445
I made a minimalistic case trial here: https://dbsplab.fun/test/jspsych/test_jspsych-audio-safari-init.html.

Doing so I think it is a bit clearer which cases this concerns, but I am still not 100% certain.

It looks like the issue arises only when there has been no click on elements of the DOM that were not generated by javascript. If I create HTML buttons on the page that trigger jsPsych.init, t

[2021-02-02 22:21] jodeleeuw commented on #1445
Thanks so much for all of this info @egaudrain.

I'm certainly open to different ways of solving this. It sounds like a generic solution is going to be tough to generate right now, but perhaps we can add some of these approaches to the `preload` plugin that we're currently working on. Or maybe we should have an `init-audio` plugin like the one you've created and recommend that people use it when r

[2021-02-02 23:38] becky-gilbert commented on #1445
Thanks very much @egaudrain! Do you happen to know whether this problem will replicate on an iPad (iOS / Safari 14). If so then I can help test.

If I understand correctly, it sounds like this isn't something that we can address with changes to the `preload` plugin or any of the audio-* plugins, because this is all about initiating the audio context via a user interaction, and the form of that int

[2021-02-03 09:36] egaudrain commented on #1445
Thanks for your feedback, @jodeleeuw and @becky-gilbert! I had a look at the `preload` plugin. Is there a discussion item somewhere that outlines the rationale?

But I also agree with your analysis, @becky-gilbert. Integrating the Safari odd case would mean looking though the timeline, checking if there are clickable elements (if that's possible) before the first sound is played, locate the first

[2021-02-03 21:37] becky-gilbert commented on #1445
Yep the preload plugin issue is #1351. The first comment in that issue thread references pull request #1234, which is also relevant. Please feel free to share your thoughts.

Sorry, I missed your test link before. Thanks for putting this together! I tried on my iPad but couldn't get to the audio trial because it requires a space bar press, and I'm on touchscreen only. Just let me know if you have

[2021-02-03 23:47] egaudrain commented on #1445
Ahah, of course! I modified it such that you can just wait 2s before the sound is played (I had put the spacebar trial just to check that pressing a key wasn't enough to count as user gesture).

Also I tried it with Safari 14.0.3, the behaviour is identical. And I tried it in an XCode simulated iPad with iOS 13 (which should be Safari 13) and it is the same as well (although I am not entirely sure

[2021-02-04 06:06] dubailey opened #1468 "Loops Should be able to be looped."
Hello, I am trying to loop a loop trial but when I do this it only loops the inner most trial (the trial that is already being looped), this is not conducive to being able to make more complex jsPsych experiments.

[2021-02-04 08:53] nikbpetrov opened #1469 "Adding an interval when setting a trial's paramters on trial start"
There is already a neat way to set a trial's parameters dynamically using the `on_start` function (https://www.jspsych.org/overview/trial/#the-on_start-event)

I would like to be able to set a trial's parameters, say the `choices` for a `html-keyboard-response` trial, but with a delay. So, for instance, my trial should start with the participant not being able to click anything but after a small d

[2021-02-04 15:35] jodeleeuw commented on #1468
Hi @dubailey,

Can you explain a bit more? I'm not sure I understand the problem that you are running into.

[2021-02-04 15:42] jodeleeuw commented on #1469
This is not really feasible given the current implementation of plugins. It would require some kind of re-render event and the plugin architecture isn't designed with this in mind. And it would be a major overhaul to add this kind of support.

This won't generalize to all instances where this feature could be used, but you could always chain two plugins together to create the feel of a single tria

[2021-02-04 17:47] dubailey commented on #1468
Hi, I have a trial that is looped. When I try to loop the loop, what ends
up just happening is the inner most trial is only looped once instead of
being double looped.

On Thu, Feb 4, 2021 at 7:36 AM Josh de Leeuw <notifications@github.com>
wrote:

[2021-02-04 18:04] jodeleeuw commented on #1468
Can you post a code snippet to reproduce the problem?

[2021-02-04 18:39] amunn opened #1472 "Provide version number"
When updates change core functionality (e.g. 6.1 -> 6.2 changed the name of the slider start parameter) it's helpful to be able to know which version of jpsych an experiment is running. But it seems that there is nowhere in the code (even in the comments) that shows the version number. It would be helpful to add this parameter that could be tested for.

[2021-02-04 18:50] jodeleeuw commented on #1472
I've been meaning to do this. Thanks for the nudge!

[2021-02-04 18:50] #1472 closed

[2021-02-05 02:48] jodeleeuw commented on #585
I just discovered that `conditional_function` was running on every different entry in timeline variables.  I changed this so that it only runs with the first set of variables.

[2021-02-06 11:54] marco2gandolfo opened #1476 "Images stop appearing with html-image-keyboardresponse plugin"
Dear all,

I am encountering an odd issue.
I am using a task where I ask people to respond to images with html-image-keyboard-response.
The image is on screen for 250mseconds and it is called with jsPsych.timelineVariable('stimulus') inside a trial procedure.

I am sure that my code works, because this problem presents only sometimes when I ran the experiment. Most of the times indeed, the experim

[2021-02-07 00:02] dubailey opened #1477 "Is there a way to have a timed trial and then have a sequence of button presses recorded?"
Is there a way to have a timed trial and then have a sequence of button presses recorded? For example, I would like to show the participant an image for 9 seconds  and then have them enter their moves as a single sequence of button presses -- all in one go.

[2021-02-08 19:55] becky-gilbert commented on #1476
Hi @marco2gandolfo, if you're preloading all of the files (and you've checked that the preloading is definitely working), then this does sound like it might be a caching problem. Are you using lots and/or large image files? If so, the browser might be removing some files from the cache after a while. Here are some other Discussion posts that explain this problem and include some possible solutions

[2021-02-09 02:35] mupsycho opened #1486 "the ID of the first TimelineNode always is beginning of 0, can i change it?"
like this data
[code]
the inernal_node_id always starts with "0.0", does this mean that I cannot modify the number of the top-level timeline？
I noticed this code in `jspsych.js`
[code]

[2021-02-09 02:44] jodeleeuw commented on #1486
That's right. This isn't really meant to be a piece of data that gets used in analysis work. jsPsych currently uses it in order to handle some searches within the data structure. I'm hoping to change that in the future and then remove this. We may remove it from any data exports and just use it internally as an interim solution.

Are you using this for some kind of information that isn't available

[2021-02-09 02:45] jodeleeuw commented on #1486
I'm converting this over to a discussion.

[2021-02-09 02:45] #1486 closed

[2021-02-09 02:46] jodeleeuw commented on #1477
I'm converting this to a discussion.

[2021-02-09 02:46] #1477 closed

[2021-02-09 17:00] GEJ1 opened #1491 "jspsych-canvas-keyboard-response: prompt move canvas from previous position"
Hi jsPsych community,

I detected that canvas rises from its previous position after the message appears.
The difference in position it's not big but can be significative in some experiments. I detected only because I was drawing a circle in the center of canvas to help debugging.

I fixed using CSS inline: `<p style='position: absolute'> Text in prompt </p>`

**Normal:**

![not_fixed](https://use

[2021-02-09 19:31] #1237 closed

[2021-02-09 19:35] jodeleeuw commented on #585
@becky-gilbert  I ended up merging the changes from this branch into the feature branch for #1493 because I needed some of the fixes from here to make the tests work in that branch. However, I think we still need docs for these changes so I left this branch open.

[2021-02-09 19:51] becky-gilbert commented on #1351
@jodeleeuw question about a merge conflict between this `feature-preload-plugin` branch and master.

On master, the `addNodeToEndOfTimeline` function has a `preload_callback` argument, which was meant to auto preload any stimuli from the new timeline:
https://github.com/jspsych/jsPsych/blob/9bfeaff84a2044789f9efa47fc4532ee0241e533/jspsych.js#L352-L361

On the `feature-preload-plugin` branch, the c

[2021-02-09 19:53] becky-gilbert commented on #585
Got it, thanks. I'll do the docs and then close this out.

[2021-02-09 20:29] jodeleeuw commented on #1351
I think we can just get rid of the callback completely at this point since adding the node to the timeline is synchronous. Does that seem right to you?

[2021-02-09 20:48] becky-gilbert commented on #1351
Yes! That definitely makes more sense 🤦 I'll remove the failing test.

[2021-02-09 21:36] becky-gilbert commented on #585
I'm on this `feature-timeilne-events` branch and these functions aren't working as I'd expected. The `on_timeline_start` function is called repeatedly with timeline variables, whereas the `on_timeline_finish` function isn't. Is that the intended behavior?

I tested this with new jest tests and by modifying the "timeline_variables.html" file:
[code]

[2021-02-09 22:03] becky-gilbert commented on #585
I think we missed this problem with `on_timeline_start` and timeline variables because of an error in the tests for timeline variables. (The timeline variables had an array with just one object/trial, and I think it was supposed to have two.) I fixed this in the tests and now the test for `on_timeline_start` and timeline variables is failing. I'm happy to try to fix this but wanted to check whethe

[2021-02-09 22:27] #1351 closed

[2021-02-10 01:42] #988 closed

[2021-02-10 15:22] marco2gandolfo commented on #1476
Dear Becky,

Thanks so much for giving me so much points to dig into!
My images are about 700 to 800 kb each and I am preloading a total of ~260 images.
They are not exceptionally big but they are indeed the biggest size I ever presented!
I checked and the "disable cache" button is not ticked :).

In this next few days I will dig into the points you raised and get back to you.

Many thanks, as usu

[2021-02-11 08:36] hwirth opened #1503 "Can't get audio to play"
Some poor non-programmer asked for help on IRC, so I looked at this library.

After fiddling around for about one hour, I noticed the examples folder, but not even the
audio-button/audio-keyboard examples produce any sound for me. So I am suspecting some problem with jsPsych.

The person in question reports hearing one "click" with our basic test program, but no real sound, on Brave and Safari.

I

[2021-02-11 17:45] jodeleeuw commented on #1503
The master branch is currently under development as we merge various branches prior to releasing 6.3. It looks like audio is currently broken on the master branch, but we know why and it'll be fixed prior to release.

It sounds like using 6.2 worked OK, so I'm closing this issue.

[2021-02-11 17:45] #1503 closed

[2021-02-12 02:10] becky-gilbert commented on #1374
This is on the `docs-reorg` branch. As discussed, I did the following:
- created a new overview/dynamic-parameters page
- renamed 'advanced options for trials' (trials.md) to 'plugins'
- incorporated the content from the plugins/overview and plugins/creating-a-plugin pages into the new overview/plugins page
- removed the plugins/overview and plugins/creating-a-plugin pages

[2021-02-12 15:29] jodeleeuw commented on #1374
Awesome! I'm going to merge this branch since I'm working on docs edits in the master branch right now and I want to have everything be consistent.

[2021-02-12 15:29] #1374 closed

[2021-02-12 18:57] becky-gilbert commented on #585
I'm going to merge this branch now that the problem with `on_timeline_start` and timeline variables is fixed, tests are passing, and I finished the docs.

[2021-02-12 19:18] becky-gilbert commented on #585
Closed via #1512

[2021-02-12 19:18] #585 closed

[2021-02-13 20:56] awb99cu opened #1513 "Displaying Responses in Upper Case using Survey-Text"
I am conducting a verbal free recall experiment in which participants type their responses after learning a list of words. Currently my retrieval prompt looks like this:

[code]

When participants type the words out, I would like their responses to be recorded and displayed onscreen in uppercase lettering (e.g., "window" --> "WINDOW"). Is there a way to do this in JSPsych? Perhaps using javascript

[2021-02-15 11:26] lbinding commented on #494
Hi all,

I'm having a problem with the audio-audio-response plugin downloaded. When I run the program, the audio recording plays, but the visual picture doesn't. Furthermore, the trial doesn't end and presents this error:

Uncaught (in promise) TypeError: Cannot set property 'onended' of undefined
    at start_trial (jspsych-audio-audio-response.js:239)
    at process_audio (jspsych-audio-audio-re

[2021-02-16 00:49] angoodkind opened #1515 "Record key codes and timing"
This may be too vague, but I am having a difficult time writing an experiment that records all of the key codes and timing for a free text entry experiment. I see some issues have addressed this, but am having trouble putting it all together.

[2021-02-16 03:08] jodeleeuw commented on #1515
Going to convert this over to a discussion. Not sure if you've spotted the discussions that are separate from issues, but this has been talked about there, too. Some of those threads do have some example code.

 I think as it currently stands it is too open-ended for us to provide solid advice with a reasonable time investment, but if there are specific issues that you run into we can probably hel

[2021-02-16 03:08] #1515 closed

[2021-02-16 03:09] jodeleeuw commented on #1513
I'm going to convert this to a discussion.

[2021-02-16 03:09] #1513 closed

[2021-02-16 03:10] jodeleeuw commented on #1468
I'm going to close this until we get more information. Happy to reopen if needed.

[2021-02-16 03:10] #1468 closed

[2021-02-16 09:22] anelleh commented on #494
Thank you all for these amazing plugins!

I'm very new to both jspsych and javascript, but I was wondering what would be the best way to continue the audio recording during the ITI when using the html-audio-response plugin? I don't really want to make a long recording of the whole experiment, but I would like to make sure that all answers are recorded, even if participants answer during the ITI. I

[2021-02-16 14:37] #1123 closed

[2021-02-17 00:38] becky-gilbert commented on #396
@jodeleeuw just found a bug with the way that we're handling the case sensitivity issue with the switch to `.key`. The problem occurs when the plugin does its own comparison between the key value that's passed from `jsPsych.pluginAPI.getKeyboardResponse` via the `callback_function`, and the key options that are specified in the trial parameters. When `case_sensitive` is `false` in `jsPsych.init`,

[2021-02-17 00:48] jodeleeuw commented on #396
Oof, that's unfortunate!

What about a pluginAPI function like compareKeys that checks init settings to see what to do, and we just recommend that plugin developers use that function whenever they want to compare two keys?

I think it should be different than compareKeys for the sake of backwards compatibility. Or at least if it changes compareKeys to do it in a way that doesn't break the old beha

[2021-02-17 00:57] becky-gilbert commented on #396
Ah yes, good idea! How about `compareKeyStrings` or `compareKeyNames`?

 Or if you prefer to use `compareKeys` for this then yes, I can add this in without breaking the old behavior.

[2021-02-17 03:07] #670 closed

[2021-02-17 15:27] jodeleeuw commented on #396
I think modifying the behavior of `compareKeys` is actually the cleanest solution.

[2021-02-17 21:07] becky-gilbert opened #1527 "audio-* plugins don't play audio that hasn't been preloaded"
If the audio stimulus hasn't been preloaded, then the plugin API `getAudioBuffer` function will return `undefined` and the experiment will stop with an error. We can fix this by checking whether the audio buffer for the source is undefined in the `getAudioBuffer` function, and if so, either create a new Audio element with the source (for HTML5 audio) or request the audio source file (for WebAudio)

[2021-02-17 23:34] becky-gilbert opened #1528 "expand plugin tests"
Comprehensiveness of plugin tests currently varies quite a bit. It would be good if all plugin test files included test for changes to page content and the trial data that should be generated.

[2021-02-18 00:58] becky-gilbert commented on #638
The following data properties have been renamed to `response` in v6.3:
- `animation`: `responses`
- `audio-button-response`: `button_pressed`
- `audio-keyboard-response`: `key_press`
- `canvas-button-response`: `button_pressed`
- `canvas-keyboard-response`: `key_press`
- `categorize-animation`: `key_press`
- `categorize-html`: `key_press`
- `categorize-image`: `key_press`
- `cloze`: `answers`
- `h

[2021-02-18 01:05] #638 closed

[2021-02-18 16:46] stvncao5 opened #1533 "Stop parameter for video plugins doesn't actually stop video"
If specifying the stop parameter in a video plugin like so:
[code]
The trial will not actually end at the 6s mark, when the video is supposed to end (as specified by `trial_ends_after_video`). The video only seems to be paused rather than actually stopped.

I'm also not sure if this is a related or separate issue, but specifying the "start" parameter at 0.0 results in the video not playing at all.

[2021-02-18 19:05] becky-gilbert commented on #1533
Thanks @stvncao5, we'll take a look at this as soon as possible.

[2021-02-18 19:17] becky-gilbert opened #1536 "Change CSS for .jspsych-content to fix (RDK doesn't work with resize plugin) and other issues."
See recent comments in #787.

[2021-02-18 22:21] jodeleeuw opened #1537 "Error handling when video files don't exist"
See #1530 for rationale.

[2021-02-18 22:31] becky-gilbert opened #1538 "addNodeToEndOfTimeline not working"
I'm checking all of the master branch example HTML files and noticed that the jsPsych.addNodeToEndOfTimeline example isn't working. The page is blank after the first trial, with no console error. There's nothing in the display element, which suggests the trial isn't being added (as opposed to it being an issue with e.g. image rendering). @jodeleeuw could this be a problem that was introduced durin

[2021-02-18 22:38] jodeleeuw commented on #1538
This was just because we dropped support for the preloading-based `callback` and the example was using the callback. I just patched it.

[2021-02-18 22:38] jodeleeuw commented on #1538
This was just because we dropped support for the preloading-based `callback` and the example was using the callback. I just patched it.

[2021-02-18 22:38] #1538 closed

[2021-02-18 22:45] becky-gilbert commented on #1538
Aha, totally missed that. Thanks!

[2021-02-19 01:54] DominiqueMakowski opened #1542 "image-keyboard-response: add the recording of mouse click coordinates x, y"
Hi! I'm trying to add to the `image-keyboard-response` plugin the ability to record mouse clicks.

I've looked at the `serial-reaction-time-mouse` plugin, as it's the only place I found some mouse-tracking, and based on that and some googling, I've added [these lines](https://github.com/RealityBending/JSmisc/blob/29d225d1a2f21ed954343e1c8b510eeba396a43b/jspsych_extensions/image-keyboardmouse-respo

[2021-02-19 03:04] gorkemer commented on #1536
Hey everyone,

Hey @vijaymarupudi, thanks for chipping in! I'd also note that including `canvas.style.position = 'block';` shifts the canvas slightly to the right, leaving empty (display_element) space at left border. I'm attaching a photo of that here. I changed the background color of the canvas to orange to see its size. That only resolved with `canvas.style.position = 'absolute';` back in. How

[2021-02-19 03:22] vijaymarupudi commented on #1536
Could you provide a branch with your examples, @gorkemer? I'd love to try to debug this issue.

[2021-02-19 03:45] #1527 closed

[2021-02-19 07:34] gorkemer commented on #1536
I created one: [here](https://github.com/gorkemer/rdk_canvas_resizing/tree/canvas_position_issue). That includes the experiment that I took the photos from. It allows for _full-screen_ and _resizing_. Now it is set to `canvas.style.position = 'block';`.

[2021-02-19 18:14] stefanoanzani commented on #1476
Hi,
I'm here because I was encountering the same bug while following along the reaction time tutorial experiment. I started noticing it in part 6, but maybe was already there in part 5.
`render_on_canvas: false` did not solve the problem, but preloading the images did. I don't know if the next release (6.3) will fix it, but encountering the bug in the tutorial was really confusing. Maybe it could

[2021-02-19 18:17] jodeleeuw commented on #1476
@stefanoanzani thanks, that's a great point. We are updating the tutorial for 6.3, which will be out within the next 1-3 days.

[2021-02-19 18:29] #396 closed

[2021-02-20 00:50] hauselin opened #1548 "Preloading/caching issue in Safari"
It looks like Safari reloads images again on each trial even though it has already preloaded stimuli at the beginning of the experiment. I've only tested it with the `image-button-response` plugin though. See discussion #1547.

[2021-02-20 23:52] #823 closed

[2021-02-21 23:22] #1296 closed

[2021-02-22 19:09] vijaymarupudi commented on #1536
It's `canvas.style.display` not `canvas.style.positioning` btw!

The problem is that `.jspsych-content` has a max width of `95%`.

The comment (git blame: 6d3da21a) says that it is an IE 10-11 fix, I'm not sure why exactly.

[code]

if you remove that and add display: block, it works well for me.

[2021-02-22 19:14] vijaymarupudi commented on #1536
Code here: https://github.com/vijaymarupudi/rdk_canvas_resizing/tree/canvas_position_issue

[2021-02-22 21:54] kjkendro commented on #494
@lbinding I believe you would need a different plugin, such as the [html-audio-response plugin](https://github.com/becky-gilbert/jsPsych/blob/audio-response/plugins/jspsych-html-audio-response.js), as I think the audio-audio plugin is for scenarios where both the stimulus and response are audio.

[2021-02-22 22:08] kjkendro commented on #494
@anelleh I was able to record response times of up to 3 minutes with this plugin, and @becky-gilbert was so kind as to help me allow participants to proceed via the space bar (modified plugin attached here in a .txt file, so change the extension to .js).

Here's how my variables look:
[code]

[2021-02-23 19:52] BastienBlain opened #1558 "'Enter','ArrowRight','ArrowLeft' as Invalid key string"
Hi there,

I'm using jspsych-6.2.0 and I specified the following plugin for example as below:

[code]

Nothing happened when I did  then press the right arrow while seeing YY, that is, the next screen is not displayed. There is no error message. I tried chrome and internet explorer and both lead to the same issue.

If instead I replace 'ArrowRight' by 'f', then pressing 'f' works (in that I move t

[2021-02-23 20:50] becky-gilbert commented on #1558
Converting this to a discussion.

[2021-02-23 20:50] #1558 closed

[2021-02-24 04:44] tobiasgerstenberg opened #1562 "link to eye-tracking overview is broken"
link is on this page: https://www.jspsych.org/extensions/jspsych-ext-webgazer/
and goes here https://www.jspsych.org/overview/eye-tracking.md (but this shows 404 - not found)

[2021-02-24 05:30] becky-gilbert commented on #1562
Thanks @tobiasgerstenberg! @jodeleeuw ok for me to fix this and redeploy the docs?

[2021-02-24 12:10] jodeleeuw commented on #1562
Yes, thanks!

[2021-02-24 13:40] GEJ1 commented on #1542
Hi @DominiqueMakowski , I was working on something similar in order to create a new plugin: https://github.com/jspsych/jsPsych/discussions/1370

Maybe you can use it or take the logic from the code https://github.com/GEJ1/draw-and-mouse-tracking

[2021-02-24 14:28] DominiqueMakowski commented on #1542
Thanks @GEJ1!
Turns out we managed to make it work as we wanted (see [here](https://github.com/RealityBending/JSmisc/blob/main/jspsych_extensions/image-keyboardmouse-response.js)) ☺️

[2021-02-24 14:28] #1542 closed

[2021-02-24 16:52] gorkemer commented on #1536
Thanks for the troubleshooting @vijaymarupudi! I can confirm that this solved my issue. I think this issue should be noted inside the RDK plugin. Otherwise, when the RDK plugin is used with other JsPsych plugins, to produce for example a fixation cross, the center of that trial's fixation cross and the center of the RDK is not aligned, e.g., fixation cross by the RDK shifts to the right.

[2021-02-24 16:54] jodeleeuw commented on #1536
👍 We will find a general patch for this for 7.0.

[2021-02-24 17:19] ricardoV94 opened #1564 "Automatically save post_trial_gap value?"
Is there a way to record the post_trial_gap duration (e.g., when this is randomly generated)?

I have been using a workaround where I generate all the `itis` in advance and then simply index it based on a trial counter. This way I can save it in advance in the respective trial data. I wonder if there is / could be a better way to save this information.

[2021-02-24 17:31] becky-gilbert commented on #1564
Hi @ricardoV94, this is now possible with [the `save_trial_parameters` option](https://www.jspsych.org/overview/plugins/#the-save_trial_parameters-parameter) in jsPsych v6.3.0. You can do this:
[code]
If you're using an earlier version of jsPsych, then I think what you're doing now make sense. Another option is to use a global (top-level) variable to store the current ITI value, and use [dynamic p

[2021-02-24 17:34] ricardoV94 commented on #1564
That is great. I am actually already using v6.3, so there is no need for anything else. Thanks for the prompt reply!

[2021-02-24 17:34] #1564 closed

[2021-02-24 18:04] becky-gilbert commented on #494
Hi @anelleh, currently there's no way to extend the recording into the ITI. To do that, we'd have to turn audio recording into a [jsPsych extension](https://www.jspsych.org/extensions/extensions/), so that it can continue collecting data across multiple trials. So for now, your approach makes sense to me: you should be able to set the stimulus duration to be shorter than the buffer length. When yo

[2021-02-24 18:06] becky-gilbert commented on #494
@lbinding sorry for the delay getting back to you, and glad to hear that you resolved the issue! Please let us know if you run into any other problems.

[2021-02-24 18:14] becky-gilbert commented on #494
Oh and @anelleh another option is to use @kjkendro's version that allows you to manually end the recording with a key press.

One tip for anyone using the manual key press version - we might want to add in the option of a delay between when the key is pressed and when the recording actually ends, to account for the fact that some participants might press the key while speaking and accidentally cut

[2021-02-24 20:36] vijaymarupudi commented on #1536
No problem, glad to help :)

[2021-02-24 20:51] becky-gilbert commented on #1562
Should be fixed now 👍

[2021-02-24 20:51] #1562 closed

[2021-02-24 23:42] #1307 closed

[2021-02-25 08:05] anelleh commented on #494
@becky-gilbert Thank you for your response! We've tested this quite a few times in Chrome, and sometimes the length of the audio files is 20 ms shorter than the buffer length, but sometimes it's the same as the buffer length. We'll pilot the experiment and see what happens!

Lots of weird things happened when we tested this in Firefox - the length of the audio files was always shorter, and sometim

[2021-02-25 15:04] jodeleeuw opened #1573 "Use a seedable random number generator in place of Math.random()"
If we switch randomization calls to a seedable RNG then we could enable something like `jsPsych.randomization.setSeed()` to make it possible to replicate randomization across sessions. See #1572 for a possible use case.

[2021-02-27 02:08] klanderson opened #1577 "jsPsych.pluginAPI.compareKeys handling null keys"
Hi, just trying out jsPsych 6.3.0 (great update btw), and noticed that `jsPsych.pluginAPI.compareKeys` fails when one of the keys is null. Would you consider allowing null inputs? So the function would return `false` if any one input is null and `true` if both are null.

I'm handling null responses now as follows:

[code]

[2021-03-01 16:08] hariPurohit opened #1587 "virtual-chinrest plugin issue TypeError"
I was trying out the virtual chinrest plugin for my experiment and ended up with this error in my browser (Chrome) console while attempting to debug
**'Uncaught TypeError: Cannot read property 'circle' of null
    at drawBall (jspsych-virtual-chinrest.js:402)
    at startBlindSpotPhase (jspsych-virtual-chinrest.js:279)
    at HTMLButtonElement.finishResizePhase (jspsych-virtual-chinrest.js:264)'**

[2021-03-01 16:21] jodeleeuw commented on #1587
It looks like I get the same error when I use the same CDN URL. It looks like we tested with verion 2.6.3 of svg.js. Can you try sourcing that instead? Our demo uses https://cdnjs.cloudflare.com/ajax/libs/svg.js/2.6.3/svg.min.js

[2021-03-01 16:22] jodeleeuw commented on #1587
@pjkohler @GEJ1 it would probably be nice to figure out why our code isn't compatible with version 3.0 of svg.js (or remove the dependency as we had discussed at one point...)

[2021-03-01 16:55] GEJ1 commented on #1587
I think the right way is to remove the dependency. Maybe we can try somethin like this: https://www.w3schools.com/code/tryit.asp?filename=GNOV9PLIH1KK (it's a modified version of a WW3 tutorial), but i'm not sure about the details (e.g the exact velocity of the ball)

[2021-03-01 21:50] becky-gilbert commented on #1577
Hi @klanderson, thanks for the feedback, and for explaining the use case for `null` arguments here. This sounds like a very reasonable change to me.
@jodeleeuw I think this is a quick fix so I'm happy to do it, if you want to add this to 6.3.1?

[2021-03-01 23:00] becky-gilbert opened #1594 "update image-* plugin docs"
Animated gifs aren't animated when rendered on canvas - this only works with the image rendering option (`render_on_canvas: false`.) #1591

[2021-03-03 18:05] apileggi opened #1603 "issues with 'Spacebar' as key press option: instruction trial type throws error"
Hi there, anything using ['Spacebar'] as a key press was working until I switched from an earlier version to jsPsych-6.3.0.
No other code changes and it seems ['Spacebar'] is no longer a valid option.

In html-keyboard-response, everything just hangs, no errors are shown in the console.

For instructions, console says:

jspsych.js:2308 Uncaught TypeError: v.toLowerCase is not a function
    at jsp

[2021-03-03 18:11] jodeleeuw commented on #1603
Hi @apileggi,

We changed how keys are represented in 6.3 to conform with modern web browser standards.

Try using `[' ']` instead with 6.3.

We're using the `event.key` property and you can see those values on sites like [this one](https://keycode.info/).

[2021-03-03 19:21] apileggi commented on #1603
[' '] was the fix indeed!

Thank you!

[2021-03-03 19:21] #1603 closed

[2021-03-08 18:10] kupiqu opened #1615 "glitch in new slider"
The new slider from #695 looks and works great. However, I see glitches in the slider quite frequently when I move from one trial to the next. Did you realized about this? Is there any way to avoid those glitches? Thanks!

[2021-03-08 18:17] kupiqu commented on #1615
This is what I mean:

![slider_glitch](https://user-images.githubusercontent.com/3875196/110363464-e601b300-8042-11eb-8e69-569495e25b57.gif)

[2021-03-08 18:23] jodeleeuw commented on #1615
I haven't seen this before. Can you provide more info? Browser, other plugins that might be affecting this (like resize), etc.

[2021-03-08 18:27] kupiqu commented on #1615
It happens in Chromium and Firefox. The affected plugin is jspsych-image-slider-response.js. I don't have any other plugin in those trials

[2021-03-09 00:06] becky-gilbert commented on #1207
Quick note on implementation: maybe add a `validation` function and `validation_message` parameter for each question, which can be used in the submit and/or input event handlers to check for response validity. Can override the automatic form validation with `form.noValidate = true;` which will cause the submit event handler to be called on every submit attempt. Then, check validity and use the `se

[2021-03-09 12:57] mupsycho opened #1616 "addNodeToEndOfTimeline do not execute preload_callback"
i notise that there was a problem in `core.addNodeToEndOfTimeline`
[code]
Maybe you can use this to fix it
[code]

[2021-03-09 14:49] jodeleeuw commented on #1616
Thanks, @mupsycho ! We intentionally removed support for the `preload_callback` with version 6.3.0 because we shifted preloading to the `preload` plugin. Now one could stick a preloading trial on the new timeline to accomplish the same thing.

[2021-03-09 15:25] mupsycho commented on #1616
all right。Thanks for answer。
however，if it is right, i think the following code can not work
[code]
or maybe this style is my personal habit
in fact, I haven't tested the following code
[code]
however, i find that `addNodeToEndOfTimeline` can work without `resumeExperiment`, it is amazing

[2021-03-09 16:12] jodeleeuw commented on #1616
Right, we've deprecated the first case. If you want to run code at the start of the new timeline you could put a `call-function` plugin on the timeline.

[2021-03-09 16:12] #1616 closed

[2021-03-10 00:58] danmyles commented on #1548
Also with `html-keyboard-response`. Issue doesn't occur for me when running the script locally (opening index.html in Safari). But does occur when running from cognition.run.

[2021-03-10 01:05] jodeleeuw commented on #1548
Is this with 6.3 and using the new preload plugin?

[2021-03-10 01:17] hauselin commented on #1548
It's with both 6.2 and 6.3. I've tested them on cognition.run: [6.2 version](https://m8seoragzv.cognition.run) and [6.3 version](https://ty7doeyux8.cognition.run).

[2021-03-10 01:20] danmyles commented on #1548
And also with 6.1 (I've tried running across all three). As I understand it cognition.run to implements pre-loading (so I have commented this out of my own script)?

[2021-03-10 03:32] danmyles commented on #1548
The issue persists with the new preload plugin—possible it's something to do with cognition.run rather the jsPsych? I've submitted a bug report there too :)

[2021-03-10 13:01] jkrumbiegel commented on #1237
Thanks for fixing this!

[2021-03-11 18:09] becky-gilbert opened #1625 "add MouseView extension"
MouseView.js ([github](https://github.com/u01ai11/MouseView.js), [website](https://www.mouseview.org/), [preprint](https://psyarxiv.com/rsdwg/)) provides a way of blurring/hiding the page content, and providing the user with a mouse-guided aperture for viewing. It records the mouse coordinates over time, which means it can serve as an "attentional-tracking" measure (time spent looking at certain r

[2021-03-11 18:47] sankalp35 commented on #1548
Issue persists for me with 6.3.0, using the preload plugin to load images. Since Prolific does not screen for browsers, it's difficult for me to run the study. Would appreciate some priority on this issue.

preloading works well with Firefox and Chrome

[2021-03-11 18:54] hauselin commented on #1548
You could try asking participants to use Firefox or Chrome. Most would comply (at least from my study two weeks ago). I also used the following code to check if it's Safari. If so, I made it such that the timeline object contains only one instruction page that asks them to switch to Firefox/Chrome. More info [here](https://developer.mozilla.org/en-US/docs/Web/HTTP/Browser_detection_using_the_user_

[2021-03-11 19:12] jackdolgin commented on #494
Following up from before, I've noticed that with the code I've built I also get a slight difference between when the recording begins and my stimuli appear (for me it's been a difference more in the range of 100 - 200 ms, but again different code). I'm curious just conceptually why any lag exists. I'm thinking that for my experiment I might just play a sound at the beginning of recording and use t

[2021-03-11 22:05] jodeleeuw commented on #1548
This looks like it might be a clue to solving the issue: https://stackoverflow.com/questions/61566984/async-image-preloading-by-promise-all-not-working-on-non-chrome-browsers

@becky-gilbert we could try adding this decide to preloading functions. I'll work on it when I have some dev time available, but feel free to try it if you beat me to it.

[2021-03-12 01:38] charles2910 commented on #1445
Hi. Today I've experienced the same problem while testing an experiment (which uses the image-audio plugin from @becky-gilbert - thanks BTW) in different browsers. It works in firefox and chrome, but in Chromium (the free software version of chrome) it fails as @egaudrain experienced in safari. Actually it fails jsPsych initialization, I'll post the logs from Chromium below.

[code]

Note that I'm

[2021-03-12 02:01] becky-gilbert commented on #1445
Aha, thanks @charles2910, really helpful to know that Chromium causes the same problem. Are you able to use @egaudrain's `safari-init` plugin as a temporary workaround? Or trigger `jsPsych.init` from a button click?

BTW I think this same console message:

shows up a lot when audio is used in jsPsych experiments, but doesn't always cause the experiment to break.

And @egaudrain, I forgot to say th

[2021-03-12 02:11] becky-gilbert commented on #494
Hi @jackdolgin! Thanks for the update. @majorminors and I have been testing lots of different implementations of my version of an audio-response plugin to see if we can get the recording onset to sync with the visual display. I'm using a photodiode and microcontroller to cause a tone that's triggered by the visual display, and then looking at the offset between the start of the audio file and the

[2021-03-12 04:00] juliameehan opened #1628 "fullscreen enter and exit"
I'm having the issue tracking fullscreen enter / exit where interaction data is not tracking reentering fullscreen, but only tracks the exit.

[2021-03-12 16:20] charles2910 commented on #1445
Hi, I have some news. I tried the safari init plugin and it doesn't work. Now to the interesting part. I use Debian (GNU/Linux distribution) and the audio only works on firefox, today I tried on Chrome too and it doesn't work, the `webaudio_context` is initialized but `suspended` before any interaction with the window. After the interaction with the safari plugin or the welcome screen that I have,

[2021-03-12 17:13] egaudrain commented on #1445
As far as I understand it, as @becky-gilbert noted, the AudioContext is always created suspended. On macOS, hat happens with Firefox, Chrome and Safari. However, it is only suspended until there is a user interaction. That's where Safari differed from other browsers: it looks like, in Safari, a click on a JS generated button does not resume the AudioContext, but other browsers do allow that. One w

[2021-03-12 22:35] becky-gilbert commented on #1628
Hi @juliameehan! Could you share a little more information about this so that we can try to reproduce it please? What version of jsPsych are you using? Does this happen on one particular browser or multiple?

[2021-03-12 23:02] charles2910 commented on #1445
Thanks for providing the tests @egaudrain. Feedback:

- All the options worked with Chrome and Chromium, I could hear the audio;
- Only when using "with HTML button" option the error is absent.

Note that the trial I'm using is to record audio after a image is displayed. This plugin is from @becky-gilbert.

[2021-03-12 23:44] becky-gilbert commented on #1445
Hi @charles2910, I think the "Audio recording not possible" error that you're getting with the `image-audio-response` plugin is separate to this issue, which is about getting audio to play and the browser's user interaction requirement. The audio-response plugins use the MediaRecorder API, which is [not supported in Safari](https://caniuse.com/mediarecorder) - I've noted this in the plugin docs [h

[2021-03-13 10:59] JAQuent opened #1633 "Adding a parameter that ends trial only after the stimulus_duration is over"
### Background
I propose to add a paramater that I would call `response_ends_trial_after_stimulus_duration` that as the name says ends a trial when a response is given and the provided stimulus_duration elapsed. Currently, the parameter `response_ends_trial` ignores stimulus duration that can be fine in a lot circumstances but can be problematic for certain types of experiments.

For instance in t

[2021-03-14 20:37] juliameehan commented on #1628
hi @becky-gilbert yes -- I am currently using version 6.2. This happens on both my safari and chrome browsers. I am just tracking and saving the interaction data in a csv and I can only see fullscreen enter when it starts in fullscreen and fullscreen exit the first time I exit. If I back into fullscreen and exit fullscreen later it does not track it.
This is how I am saving the data:
saveData(""+s

[2021-03-16 12:00] jackdolgin commented on #494
Those are such great points and updates, @becky-gilbert! It seems like you've tested much more carefully than I did- I played sound as my baseline and naively assumed it would emit audio as soon as called, though as you mention that's unlikely. It also sounds like you've nailed down the timing to a manageable range! Depending on the effect sizes that seems like a small enough variance to get meani

[2021-03-16 13:14] jodeleeuw opened #1640 "Extension that supports audio playing"
It occurred to me that the new extensions framework could support a generic audio playing extension, for cases where one want to have audio over an existing plugin. Some students of mine are currently working on adding audio playing to the free sort plugin, and this would probably just be easier with an extension.

[2021-03-16 19:07] becky-gilbert commented on #1628
Hi @juliameehan, thanks for the information. I've been able to replicate this problem in v6.3.0 and agree that it looks like a bug.

[2021-03-16 19:29] becky-gilbert opened #1641 "fix errors on jsPsych reference documentation page"
Need to fix whatever happened here:
https://www.jspsych.org/core_library/jspsych-core/#var-trial-jspsychcurrenttrial-consolelogthe-current-trial-is-using-the-trialtype-plugin
And `addNodeToEndOfTimeline` shouldn't have an example with a callback: https://www.jspsych.org/core_library/jspsych-core/#examples

[2021-03-16 19:31] becky-gilbert commented on #1641
https://www.jspsych.org/core_library/jspsych-core/#this-code-would-be-in-a-plugin-jspsychfinishtrialcorrect_response-true

https://www.jspsych.org/core_library/jspsych-core/#var-progress-jspsychprogress-alertyou-have-completed-approximately-progresspercent_complete-of-the-experiment

[2021-03-16 19:44] becky-gilbert commented on #1628
jsPsych uses the `fullscreenchange` event to handle the fullscreen enter and exit events. According to [this stackoverflow answer](https://stackoverflow.com/a/21118401), the `fullscreenchange` event is only called when fullscreen mode is triggered by the `requestFullscreen` API, _not when the user 'manually' enters fullscreen mode_ via the browser's menu or a hotkey (F11). So what's happening is t

[2021-03-16 20:27] jodeleeuw commented on #1628
Maybe we can figure out a way for an extension that does this.

I don't think it is a high priority at the moment, but we can take a look after getting through some other updates.

[2021-03-17 10:44] nrschoen opened #1642 "I found an error on the website"
Check out the picture of this page: https://www.jspsych.org/core_library/jspsych-randomization/

![Screen Shot 2021-03-17 at 10 40 15](https://user-images.githubusercontent.com/65179042/111455387-a35c6c80-870d-11eb-90a6-c465812edf9f.png)

[2021-03-17 17:39] becky-gilbert commented on #1642
Thanks for reporting this @nrschoen! Feel free to submit a pull request to fix this if you'd like to. Otherwise we'll fix it ASAP 👍

[2021-03-18 01:18] charles2910 commented on #1445
Oh boy. @becky-gilbert you're right, they are two different issues. Turns out that firefox is a little dumber and let me record audio even without having a microphone, but Chrome(ium) does not.

[2021-03-18 08:38] SHogenboom opened #1646 "Understanding "response = response.rt == null ? info : response;""
I'm building my own plugin where, among other things, I want to record each key press (rt, key) while someone is typing. Looking through all the plugins I imagined that `jspsych-serial-reaction-time.js` would be good place to start and saw that a key press results in the `after_response` function being triggered:

[code]

I'm left baffled by the `response = response.rt == null ? info : response;`

[2021-03-18 09:25] SHogenboom commented on #1646
The awesome tutorial video (which I hadn't watched entirely yet) obviously shows that the code above is not necessary for what I want to achieve:
https://www.youtube.com/watch?v=XQcsFwAmbiw

An answer to understand what is happening would still be appreciated though :)

[2021-03-18 15:06] #1646 closed

[2021-03-24 13:46] jodeleeuw opened #1666 "Generalize the on_load event handler to ensure that trial has completed loading"
Currently the `on_load` event for a trial fires when the `plugin.trial` method completes. In most cases this works fine because the `plugin.trial` code is synchronous. But, if there is async code of any kind that delays the loading of the screen, then the `on_load` event could fire before the trial is really loaded.

We need some way of giving plugins control over when the load event is triggered.

[2021-03-24 22:29] becky-gilbert commented on #1642
Fixed via 163f3479b0655b8e3f5fc55f0d80d0c4e14ce1ed. I think the problem was that code blocks must have a line break after the ending backticks (\```).

[2021-03-24 22:29] #1642 closed

[2021-03-24 22:30] becky-gilbert commented on #1641
The callback example has now been removed for the `addNodeToEndOfTimeline` docs and the formatting has been fixed via 163f3479b0655b8e3f5fc55f0d80d0c4e14ce1ed. I think the problem was that code blocks must have a line break after the ending backticks (\```).

[2021-03-24 22:30] #1641 closed

[2021-03-24 22:42] #1594 closed

[2021-03-25 16:24] #1577 closed

[2021-03-25 16:35] becky-gilbert commented on #1577
Hi @klanderson, I've now changed this on the master branch version of jspsych.js, so `jsPsych.pluginAPI.compareKeys` will handle `null` values in the next release.

As of right now there haven't been any other changes to the master branch jspsych.js file since the 6.3.0 release on Feb 21. This means you could replace your v6.3.0 jspsych.js file with the master branch version to get this new functi

[2021-03-25 16:45] becky-gilbert opened #1671 "6.3.1 Release Notes"
This minor release is focused on improvements to the eye tracking features added in version 6.3.0.

# New Features
- We have [forked WebGazer](https://github.com/jspsych/WebGazer) to make some minor changes to improve compatibility with jsPsych. These changes allow jsPsych to sample eye movements at a faster rate without disrupting jsPsych's display timing. Thanks to @moltaire for identifying this

[2021-03-25 23:01] becky-gilbert commented on #1633
Thanks for this @JAQuent!

@jodeleeuw would you be happy with this as a new parameter for the keyboard/button/slider response plugins? The audio-* and video-* plugins already have the `response_allowed_while_playing` parameter, but that is slightly different because it ignores/disables the response method during the media playback. Whereas this `response_ends_trial_after_stimulus` would accept a r

[2021-03-26 01:54] klanderson commented on #1577
Thank you!

[2021-03-26 13:01] jodeleeuw commented on #1633
I'm wondering if we can generalize this to something like `minimum_trial_duration` or something like that? It could potentially cover more use cases and is *maybe* more intuitively named?

[2021-03-26 15:45] kinleyid opened #1675 "RT unit inconsistency and minimum_valid_rt"
Hello! I've run into an issue specifying the minimum_valid_rt for experiments with some trials that record RTs using the "performance" method and some that use the "audio" method. The "performance" method records RTs in milliseconds while the "audio" method records RTs in seconds, at least within jsPsych.pluginAPI.getKeyboardResponse(). This means that if minimum_valid_rt is specified in seconds,

[2021-03-26 16:02] becky-gilbert commented on #1675
Thanks very much for flagging this issue and suggesting a solution! We'll have a look at this ASAP.

[2021-03-29 13:59] JAQuent commented on #1633
I like the idea so you would for instance set `minimum_trial_duration` to the same time as `stimulus_duration` to get the behaviour that I propose.

So essentially we'd only need to change the lines in the `end_trial ` function. I am happy to add this nextg weekend.

[2021-03-29 17:15] becky-gilbert commented on #1633
@JAQuent yes I think that's exactly right - setting the `minimum_trial_duration` to be the same as the `stimulus_duration`, along with `repsonse_ends_trial: true`, should give you the behavior that you propose. I think that the `minimum_trial_duration` should just cause the trial to end after that amount of time has passed AND a response has been made. So this parameter shouldn't have any effect w

[2021-03-30 11:18] anelleh commented on #494
Thank you so much for your hard work on this @becky-gilbert, amazing how thoroughly you've tested the audio-visual timing!

Regarding the duration of the audio files, I went through all the audio files for our pilot (144 files for each participant), and all the files are either 2100 ms long (which is the set buffer length) or 2040 ms long. The percentage of audio files that are of the correct dura

[2021-04-01 13:23] moltaire opened #1700 "Inaccurate trial timing with webgazer extension"
I am not sure if this is a problem that jsPsych can solve, but I noticed that using the webgazer extension in its current form results in significant delays in trial timing.

For example running a sequence of 20 `html-keyboard-response` trials with simple text stimuli and `trial_duration = 500` with the webgazer-extension enabled gave me a mean trial duration of 653 ms, and a maximum error of 442

[2021-04-01 16:02] jodeleeuw commented on #1700
Thanks for reporting this @moltaire.

I tried replicating with a very simple example, and didn't observe terrible timing. My mean duration was maybe 520ms with a few ms on either side. Can you tell me a little more about the parameters of your test, including what browser/OS you are testing on?

[2021-04-01 16:18] jodeleeuw commented on #1700
I take it back. I was able to get poor timing with some small adjustments. It looks like the durations are getting somewhat longer as the experiment continues. I'm going to try and profile this and see what is causing the increase.

[2021-04-01 16:22] moltaire commented on #1700
I was hopeful for a moment after your first response.
Thank you for looking into this so quick!

I've compiled a "minimal" working example [here](https://github.com/moltaire/jspsych-webgazer-timing), which can be run under <https://moltaire.github.io/jspsych-webgazer-timing>, if that helps.
I've tested this on latest Firefox and Chrome on macOS.

[2021-04-05 18:13] jodeleeuw commented on #1700
I think I have a hacky solution for this. It involves some small changes to webgazer to decouple the gaze prediction from the `requestAnimationFrame` loop. Then jsPsych can manually get gaze predictions at some interval.

I'm testing this a little more, and I'd be happy to share it with you. I'm not thrilled about this as a long-term fix since it requires forking webgazer. I may see if I can sugge

[2021-04-06 00:06] becky-gilbert commented on #1700
@jodeleeuw I'm curious about why the timing improves when you decouple the gaze prediction and rAF, and in particular if it is something I should be aware with rAF (rather than something specific to WebGazer or the WebGazer-jsPsych interaction).

[2021-04-06 18:04] jodeleeuw commented on #1700
@becky-gilbert I am curious about this too!

My best guess is that rAF blocks/has precedence over `setTimeout`, and when the code inside the rAF callback takes too long to run it is hogging the event loop. My alternative solution uses `setInterval` to periodically compute the gaze prediction on the most recent video frame. This might mean that moving `plugin.trial` inside a call to rAF is dangerou

[2021-04-09 10:25] JAQuent commented on #1633
That is a good point.  I've notice one potential issue and that is what happens if the user by accident specifies a `minimum_trial_duration ` that is longer than `trial_duration`?

Since debugging is a bit difficult and throwing an error should probably avoid I thought it might be useful to choose whatever is longer `minimum_trial_duration `  or `trial_duration`.

As you will see` end_trial()` is

[2021-04-09 17:00] becky-gilbert commented on #1633
Great! Thanks very much for the update. We'll look at this ASAP and get back to you.

And as far as dealing with invalid/inconsistent parameter values, this can be a bit tricky and we don't expect plugins to catch everything. But one option is to just show a warning in the console, something like this:
[code]

[2021-04-09 17:46] JAQuent commented on #1633
Good idea :)

[2021-04-09 18:25] #1675 closed

[2021-04-09 18:26] becky-gilbert commented on #1675
Fixed this for the next release. Thanks again @kinleyid!

[2021-04-10 20:52] #1700 closed

[2021-04-10 20:53] #1671 closed

[2021-04-11 11:37] moltaire commented on #1700
Thank you for addressing this so quickly. It would have me taken much longer to find a fix that wouldn't be half as functional.

[2021-04-12 15:02] Brice-xCIT opened #1723 "virtual-chinrest does not support large viewing distances"
Hello! We have integrated the jspsych-virtual-chinrest plugin, and it works nicely with good UX for most common cases. However when the viewing distance is a bit larger (e.g. 80cm) the little red ball does not go left-enough to allow it to traverse the blind spot. (I realize this is a shortcoming of the underlying virtual-chinrest library as well.)

It would be great if the plugin could support th

[2021-04-12 16:43] becky-gilbert commented on #1723
Thanks, this is a great point. I agree that, if there's no response during the first blindspot detection attempt, ideally the plugin should include the option to show a message about getting closer to the screen, and maybe repeat the procedure. If we did it that way, I think we'd need to add parameters for the duration of each blindspot attempt and the number of times that the procedure should be

[2021-04-12 17:43] myrtevos opened #1724 "webgazer-validate: samples_per_sec is NaN"
I **don't** know why but the 6.3.1 version of the webgazer-validate plugin records the `samples_per_sec` data variable as NaN. Switching back to the 6.3.0 version resolves the issue.

[2021-04-13 14:04] maxblomberg commented on #1548
Has anyone made any progress in this regard? I am conducting a small cognitive experiment, which is to be completed with a smartphone. To generally exclude everyone with Safari/iOS would be a great pity. I've tried different variations to integrate the img.decode() promise into the preload-plugin, but have failed miserably.

[2021-04-13 14:11] jodeleeuw commented on #1548
thanks for bumping this @maxblomberg. I've added it to our next milestone, but it'll be at least a month before we get to that.

I think the relevant bit of code to change is in `jspsych.js`:

https://github.com/jspsych/jsPsych/blob/fb2ad412242e60cad5ea9531546158aa70ab9e7b/jspsych.js#L2699-L2718

If you add the .decode() function here it should help.

[2021-04-13 19:43] maxblomberg commented on #1548
Thanks for tackling this, @jodeleeuw ! However, i don't think it is a Safari problem anymore, but iOS in general. I changed the code part  in `jspsych.js` you pointed out accordingly as described in [stackoverflow](https://stackoverflow.com/questions/61566984/async-image-preloading-by-promise-all-not-working-on-non-chrome-browsers) to

     function preload_image(source){
      return new Promise(

[2021-04-14 09:42] jirilukavsky commented on #1548
Just to help debugging: all browsers on iOS use the same WebKit engine, therefore they should show the same problem.

- https://en.wikipedia.org/wiki/WebKit

[2021-04-14 14:12] jkrumbiegel opened #1728 "shuffleNoRepeats returns repeats"
While piloting I noticed that items were repeating, while I explicitly used `shuffleNoRepeats` to avoid that.

I've just tested it with my trial array:

[code]

and I get:

[code]

I made my own function, and although I'm not 100% sure regarding the "randomness" of it, at least it doesn't produce any repeating neighbors:

[code]

[2021-04-15 10:01] pcompen1 opened #1730 "Word by word presentation plugin (based on the spr plugin)"
For an experiment I need to present sentences word by word. So basically, it should look like a SPR only that instead of space press showing the next word, the words should be presented after a set time (e.g. 450 ms). My idea was to adapt the spr plugin so that key press is not possible any more and instead trial duration ends the trial. Despite your excellent tutorial on plugins I still didn't ge

[2021-04-16 12:32] maxblomberg commented on #1548
I think I have found the error. It seems to be depending on the location of the retrieved images.

When using images uploaded directly to [cognition.run](https://cognition.run), Safari and iOS Browsers produce the strange behavior in which they reload the images every trial and thus, delay and flickering occurs. Example here: https://la0n6bl2dx.cognition.run/ (it a small experiment where you are s

[2021-04-26 10:33] python2020-maker opened #1761 "My pasted Javascript does not work!"
Hi,

I pasted my javascript but doesnt work: the task is not ready yet.

My script:

<title>WM Digit Span</title> <script src="jspsych-6.0.4/jspsych.js"></script> <script src="jspsych-6.0.4/plugins/jspsych-html-keyboard-response.js"></script> <script src="jspsych-6.0.4/plugins/jspsych-digit-span-recall.js"></script> <script src="jspsych-6.0.4/plugins/jspsych-survey-text.js"></script> <script src="

[2021-04-26 23:41] becky-gilbert commented on #1730
Hi @pcompen1, I agree that this is something others might be interested in. Do you mind sharing your current version of the plugin and a minimal example? If you provide something to start from, we should be able to help you get it working. Thanks!

[2021-04-26 23:46] becky-gilbert commented on #1728
Thanks for flagging this, and for proposing a solution! I'm hoping we can address this in the next release.

[2021-04-26 23:59] becky-gilbert commented on #1724
Thanks for flagging this! We'll have a look ASAP.

[2021-04-27 05:20] python2020-maker opened #1767 "Problem with unfinished status in cognition. run"
Hi,

I have a problem with unfinished status and the problem is not solved by refreshing. Also worth mentioning that the Timeline is not in green color as what is shown in the Tutorial by Josh, showing unfinished in view.

Is there anybody to help?

[2021-04-27 13:03] python2020-maker opened #1768 "Failed to load resource: the server responded with a status of 404 ()"
Hi,

I can run the experiment but the data is not saved and this error in console: Failed to load resource: the server responded with a status of 404 ()

How can this issue be solved? Is there anybody to help?

[2021-04-27 13:24] jodeleeuw commented on #1768
Hi @python2020-maker,

We'll need more information to be able to help. Where are you running your experiment? How is the data being saved? What file is the 404 error referencing?

[2021-04-27 13:24] #1768 closed

[2021-04-27 13:26] jodeleeuw commented on #1767
Hi @python2020-maker,

We'll need more information here. Can you share some of your code? What do you mean by unfinished status?

(Please use the [discussions board](https://github.com/jspsych/jsPsych/discussions) for Q&A support)

[2021-04-27 13:26] #1767 closed

[2021-04-27 13:26] #1761 closed

[2021-04-27 14:15] pcompen1 commented on #1730
Hey Becky, thanks so much! Well, as I said I'm still pretty new to jspsych and js in general. So I really just had some initial ideas what has to be changed but didn't really know how to do it. So an example could look like this, each word of the two trials should be presented one after another, exactly as in the spr trial just without button press. I also realized that this requires some changes

[2021-04-28 00:03] becky-gilbert commented on #1730
Converting this to a discussion.

[2021-04-28 00:03] #1730 closed

[2021-04-30 06:58] moltaire opened #1782 "Wrong title in documentation for jspsych-webgazer-validate"
The documentation page is titled "calibrate". I've made a pull request for a fix ( #1781).
This was my first pull request in a long time, so I hope I got it all right, even if it's such a minor issue.

[2021-04-30 11:00] gorkang opened #1783 "require_movement in slider plugins don't allow for using only the keyboard"
In #696 the `require_movement` conditional was changed from `'change'` to `'click'`. This solves an important issue, but creates a new one. Now, if someone is using the keyboard to answer the slider questions (TAB + arrows + TAB + space), the button won't activate. This is very common between computer savvy participants (e.g. Mechanical Turkers)

Not sure if there is an easier solution but adding

[2021-04-30 17:12] becky-gilbert commented on #1782
Oops, don't know how we missed that 🤦 Thanks very much for flagging it, and for submitting the fix!
The pull request looks good to me. If @jodeleeuw is happy with it then I'll merge it and re-deploy the docs.

[2021-04-30 17:20] becky-gilbert commented on #1783
Thanks for flagging this @gorkang! This solution seems very sensible to me.

[2021-05-04 13:09] GAldegheri opened #1792 "Preload fails for path specified in call function"
Hi, in my experiment I'm trying to preload an image which is set from a call function.
This fails, giving me "Error loading file".
It seems however that the image path is visible from the preloading node, i.e. if I use a on_start function to print it, it's printed correctly.
But it cannot load it for some reason.
Here is a minimal code example that reproduces this issue:
[code]
Is this issue known

[2021-05-04 13:15] jodeleeuw commented on #1792
Hi @GAldegheri

At the time that `preload_trial` is declared `stimulus` is still `''`. The `call-function` trial doesn't run until after the experiment is initialized, at which point the value of `stimulus` is updated.

To use that updated value for `preload_trial`, you need to use [dynamic parameters](https://www.jspsych.org/overview/dynamic-parameters/).

[2021-05-04 14:15] GAldegheri commented on #1792
Thanks for your reply, it works!

[2021-05-04 14:23] #1792 closed

[2021-05-06 13:43] steffejr opened #1799 "Does not stay in the loop"
Hello,
I am trying to use a loop and this example does not stay in the loop. No matter which key is pressed the example goes to the conditional function.

https://github.com/jspsych/jsPsych/blob/ab7ea845df8d12badc74cc338ebb1599e77efd41/examples/conditional-and-loop-functions.html#L17

Jason

[2021-05-06 17:46] becky-gilbert commented on #1799
HI @steffejr, that's odd - I just tried this example file in jsPsych v6.3.0 and 6.3.1 and they're both working for me. When I press "r", the trial repeats. Which jsPsych version are you using?

[2021-05-06 18:27] steffejr commented on #1799
That was it, thank you. I was using version 6.2.0. Once I changed to 6.3.1 the problem was solved. Thank you very much,
Jason

[2021-05-06 18:27] #1799 closed

[2021-05-09 15:03] bmchardy opened #1806 "video-keyboard-response start parameter bug in Safari"
When setting a `start` parameter for the `video-keyboard-response` plugin in Chrome or Firefox, the video plays from the start time specified (i.e., the plugin works as intended), but in Safari, the stimulus screen appears completely blank with no audio.

**Replication:** Including a `start` time like in the example below appears to work in all browsers _except_ Safari.
[code]

The above code work

[2021-05-10 22:47] becky-gilbert commented on #1806
Hi @bmchardy, thanks very much for flagging this, and for tracking down the source of the problem. I quickly checked the [MDN docs for the seeked event](https://developer.mozilla.org/en-US/docs/Web/API/HTMLMediaElement/seeked_event#browser_compatibility), and that says the seeked event _should_ be compatible with Safari, so it's not immediately clear to me why this is happening. Anyway I'll look i

[2021-05-11 09:39] rMinion opened #1811 "Update stimulus without finishing trial"
Hi Guys,

I have a conceptual problem. I want to update stimulus without finishing current trial. I have a set of trials that can be ended **only** by participant response (html-keyboard-response plugin).

Periodically, in the random time interval (6-120s.) I want to change some particular element displayed on the screen without finishing the current trial.

How can I achieve this?

I tried `docum

[2021-05-11 09:40] #1811 closed

[2021-05-12 14:17] moramaldonado opened #1823 "Audio buffer error"
Hi,

I am getting the following error with the audio-keyboard-response plugin:

 103 Uncaught TypeError: Failed to set the 'buffer' property on 'AudioBufferSourceNode': Failed to convert value to 'AudioBuffer'

I don't get the error when I try the experiment locally.

Do you know what can be causing it?

Thanks!

[2021-05-12 14:23] jodeleeuw commented on #1823
I would start with checking the path to make sure the audio file is where you expect it is on the server.

[2021-05-12 14:38] moramaldonado commented on #1823
The path is correct, as far as I can tell (in both cases: http://www.syncog.ppls.ed.ac.uk/stim/audio_neg/Who%20is%20running%3f.wav).

When I run the experiment locally, I get:

AudioBuffer {length: 71883, duration: 1.63, sampleRate: 44100, numberOfChannels: 1}
duration: 1.63
length: 71883
numberOfChannels: 1
sampleRate: 44100
__proto__: AudioBuffer

When I run it on the server:

Promise {<pending>

[2021-05-13 02:56] SmithBradleyC commented on #651
Got a solution. Not a very general one but it's simple and works for me. I'm adding this comment here in case anyone stumbles on this trying to find a solution or if someone with real dev skills needs an idea to move forward with a more general solution.

I wanted this function in the html-slider-response. Got it to work using the stimulus parameter to house/present the slider value (meaning no ot

[2021-05-13 16:54] RachelCarmenMoreau opened #1826 "No plugin loaded for trials of type "visual-search-circle""
I have been trying to load in the plugin for visual-search-circle but it keeps throwing the same errors:

I originally assumed I was calling the plugin incorrectly but I have checked over and over and still can't see anything wrong.

[code]

Calling it at the very beginning. Then I just copied and pasted in the example from
https://www.jspsych.org/plugins/jspsych-visual-search-circle/
To test it a

[2021-05-13 17:22] becky-gilbert commented on #1826
Hi @RachelCarmenMoreau, it looks like there's a type in the `script` line for the visual search circle plugin - it should be `src` rather than `scr`. Could you try fixing that and see if it works? Another thing to check is that the plugin file is in your jspsych folder and that the file name is spelt the same way as in your `script` tag that loads the file.

[2021-05-13 17:38] becky-gilbert opened #1827 "7.0 Release Notes"
# New Features

# Changes
- Added links to the [jsPsych-builder](https://github.com/bjoluc/jspsych-builder) CLI tool on the [Running Experiments](https://www.jspsych.org/overview/running-experiments/) and [Hello World](https://www.jspsych.org/tutorials/hello-world/) documentation pages. jsPsych Builder uses modern web development tools such as Node, webpack, and Babel to make it easier to develop

[2021-05-13 23:39] RachelCarmenMoreau commented on #1826
Hey! The first solution worked. Thanks :)

[2021-05-13 23:45] becky-gilbert commented on #1826
Great! 👍

[2021-05-13 23:45] #1826 closed

[2021-05-17 01:52] hauselin opened #1832 "unexpected behavior (or not?) when there are overlapping on_start, on_finish, etc."
Hi, I'm wondering what happens when there are overlapping `on_start` (or `on_finish`) and whether the expected behavior is documented anywhere.

In the (dummy) code below, I was expecting `z`, `x`, and `y` to be printed to the console.  However, only `x` and `y` are printed, presumably because the `on_start` (and also related parameters like `on_finish`) in objects  `x`  and `y` take precedence ov

[2021-05-17 02:08] hauselin commented on #1832
Update: I think I have figured it out. In the latest version of jspsych, in object `z`,  I should use `on_timeline_start` instead of `on_start` (and `on_timeline_start` isn't available in previous versions).

[2021-05-17 02:08] #1832 closed

[2021-05-17 09:32] rschween commented on #882
Hi. Has there been any progress on this? Any experience on issues arising in the implementation is also welcome. Best wishes.

[2021-05-17 12:07] henry-burgess commented on #882
Hi @rschween, I haven't spent much time looking into it yet (I'm finishing off my engineering degree at the moment, that's taken the best of my time 😅). I don't recall identifying or experiencing any issues at first glance.

[2021-05-18 14:29] rschween commented on #882
@henry-burgess , thank you. We'll try if we can provide an implementation. All the best for finishing off your degree!

[2021-05-18 17:20] amunn opened #1835 "Release 6.3.1 still has 6.3.0 as the version number"
The stored version number in `package.json`  is still 6.3.0 which makes checking for compatibility complicated.

[2021-05-18 17:25] becky-gilbert commented on #1835
You're absolutely right. Sorry about this, and thanks for flagging it. I just checked the jspsych.js file and can see that the `version` function is also returning 6.3.0. We'll update both package.json and the `version` function ASAP.

[2021-05-18 22:13] #1782 closed

[2021-05-18 22:30] #1835 closed

[2021-05-18 22:42] becky-gilbert commented on #1835
@amunn This should be fixed on the master branch now. There have only been a few commits to master since the v6.3.1 release on April 10th, and nothing that affects the experiment-related code (just documentation fixes and some new testing files - you can see the list of commits here: https://github.com/jspsych/jsPsych/commits/master). So if you want to have the current release with the correct ver

[2021-05-19 00:37] becky-gilbert commented on #1782
FYI, docs have been re-deployed so this change is live now 👍

[2021-05-19 19:42] LMD-nat opened #1840 "code typo on jspsych-canvas-button-response page"
Hi gang!

Just wanted to report a typo in the example code on the [jspsych-canvas-button-response](https://www.jspsych.org/plugins/jspsych-canvas-button-response/) webpage.

The example code works well there's just a comma missing at  `prompt: <p>What color is the circle?</p>`

Current code:

[code]

Fixed code:

[code]

Thanks!

Nathalie

Note: I put this issue in the wrong place, I had it on the

[2021-05-19 21:33] becky-gilbert commented on #1840
Thanks very much for catching this and letting us know @LMD-nat! We'll fix this and update the website ASAP.

[2021-05-19 21:56] amunn commented on #1835
Thanks @becky-gilbert. Since we're running on cognition.run for the moment we'll just have to ignore the difference unless they load the fixed version.

[2021-05-19 22:00] becky-gilbert commented on #1835
Oh no, sorry! You could try uploading the updated jspsych.js file in the External JS/CSS section, as that might overwrite the file that came with the 6.3.1 release, then try checking the version with [`jsPsych.version()` function](https://www.jspsych.org/core_library/jspsych-core/#jspsychversion). But if that doesn't work ,then I think you're right that you'll have to wait for them to load the fix

[2021-05-19 22:07] jodeleeuw commented on #1835
I need to get in the habit of updating this with new releases 😬.

We could hotfix the release to update the version number. I'm not sure what the most efficient way to do that is though, given that we've got other commits loaded onto the branch now.

[2021-05-19 22:34] becky-gilbert commented on #1835
@jodeleeuw yeah, we need some kind of reminder to do this for every release!

There are a few other commits to master since the 6.3.1 release on April 10th but they're just documentation updates and the new testing folder: https://github.com/jspsych/jsPsych/commits/master So can we just replace the zip on the release page?

[2021-05-19 22:51] becky-gilbert commented on #1840
This fix should be on the live website now. Thanks again @LMD-nat!

[2021-05-20 15:56] LMD-nat commented on #1840
Hi @becky-gilbert! I found another typo on the [survey-multi-choice](https://www.jspsych.org/plugins/jspsych-survey-multi-choice/) page. It's an easy fix so I didn't want to open a whole new issue for you! Basically the word "Neutral" in the likert scale is currently written "Neural". Hope that helps!

[code]

[2021-05-20 16:58] becky-gilbert commented on #1840
Hi @LMD-nat, thanks very much for catching this one too! We'll fix it and update the website 👍

[2021-05-20 17:16] #1840 closed

[2021-05-20 17:47] becky-gilbert commented on #1840
Fixed! Thanks again 😃

[2021-05-24 18:32] sjburwell commented on #529
Hello, my colleagues and I are just getting started with jsPsych (so far, very pleased!) and curious if there is a suggested repo or approach for integrating jsPsych within a React.js app? E.g., as an experiment page within a larger web app? We are aware of the unofficial / unsupported [openexp/jspsych-react](https://github.com/openexp/jspsych-react), but curious if there is an official, supported

[2021-05-24 18:55] jodeleeuw commented on #529
Hi @sjburwell,

We're a couple months away from releasing version 7.0 which will transition everything to importable modules.

In the meantime -- and I realize this feels like a circa 2000 suggestion -- iframes can work pretty well in my experience. The jsPsych page can exist independently of the React code, and React can be used to render the right iframe content.

[2021-05-24 19:32] sjburwell commented on #529
Sounds good @jodeleeuw, we'll look into using IFrames as a possible solution, but happy to hear that v7.0 will be importable as modules!

[2021-05-25 16:40] bjoluc opened #1855 "Add reference to jspsych-builder?"
Hi everyone, I've been maintaining a tool called [jspsych-builder](https://github.com/bjoluc/jspsych-builder) for a while that takes over the manual jsPsych setup tasks, offers a development server with hot reload, and a build toolchain including webpack and babel. It also supports JATOS out of the box.
By now, we've been using it successfully in several courses at Paderborn and Marburg University

[2021-06-01 21:17] crystalylee opened #1869 "Audio-button-response distorted audio"
I created an experiment on jspsych where you see a video on the first trial, and then it asks you to make a choice. However, the audio on the final trial is very distorted and I'm not sure why. The distortion also only comes up on iPads, and not smart phones or computers. I've tried various ways to fix this: reducing the file size, using different files (wav, mp3, m4a), varying the file size of th

[2021-06-02 18:43] radrogue1 opened #1871 "Video Won't Play"
For my code, I want to play a video using the video-button-response plugin. This is the way that I am calling the plugin:

`var video_instructions = {
        type: 'video-button-response',
        stimulus: "/static/video/instructional_video.mp4",
        choices: ["Yes", "No"],
        prompt: 'Did you understand the instructions?',
        response_allowed_while_playing: false,
        autoplay

[2021-06-02 18:49] jodeleeuw commented on #1871
Hi @radrogue1 ,

The `stimulus` parameter for the video plugins should be an array ([see docs here](https://www.jspsych.org/plugins/jspsych-video-button-response/)). This is because `<video>` elements in HTML allow for multiple source files to be specified so that if one kind of video files type can't be played on a particular browser a different one can be used instead.

[2021-06-03 12:06] jodeleeuw commented on #1869
Hi @crystalylee

Weird! I doubt that this issue is due to something in jspsych, though I'm open to the possibility. Have you verified that the audio file is undistorted if you load it directly? Try navigating to the URL of the sound file and playing it through the browser.

[2021-06-03 15:14] #1871 closed

[2021-06-03 15:22] jodeleeuw commented on #1855
hey @bjoluc

This looks really useful. I'd be happy to include a reference to it in the docs. I'm not sure what the best spot is for it, but I'm open to suggestions.

I think your input would also be useful as we think about migrating to support ES6 modules in version 7.0. It looks like you are already dealing with some of the issues we're going to encounter. Any interest in helping out with that

[2021-06-03 17:50] becky-gilbert commented on #1855
Thanks for pointing us to this @bjoluc! I wonder if we could add a section about jspsych-builder to the [overview/running-experiments](https://www.jspsych.org/overview/running-experiments/) page? Perhaps inside the Online section, or in its own section? Let me know if I can help by writing a first draft of the docs section or giving feedback.

And just to echo what Josh said - it'd be great to hav

[2021-06-04 06:47] Patlane commented on #494
This is really great work. I'm so fascinated by the flexibility of jsPsych! I'm curious.
For the sound data, there is a save_file_to_jatos() function.  I'd love to collect the webm-data (that is audio files) with cognition.run. How I should go about it? Do I need a function to save audio on congnition.run?

[2021-06-07 18:49] nikbpetrov commented on #647
Is anyone working on this? I have implemented @jodeleeuw suggestion for Option 2, using a simulate method. It is called after the `trial()` method in jsPsych.

There are of course plugin-specific things to consider, but, by and large, this is working like a charm. I am considering extending this for my own work by adding 2 key parameters: simulate (boolean, true/false, whether to simulate a specif

[2021-06-08 08:31] nikbpetrov opened #1879 "Incorrect default value documentation for jspsych-same-different plugin"
The default value in the [documentation of the jspsych-same-different-html](https://www.jspsych.org/plugins/jspsych-same-different-html/) for the `first_stim_duration` and `second_stim_duration` says 1000, while [within the plugin file](https://github.com/jspsych/jsPsych/blob/master/plugins/jspsych-same-different-html.js) it is set to `null`, meaning the stimuli display until a key press (while th

[2021-06-08 16:28] becky-gilbert commented on #1879
Thanks very much for flagging this error @nikbpetrov! We'll fix it ASAP.

[2021-06-08 16:30] becky-gilbert commented on #1879
Ah, just saw your pull request that fixes this. Thanks!

[2021-06-08 19:47] jackransomlovell opened #1881 "New Collaborative Filtering Plugin"
Hi all, (especially @becky-gilbert @jodeleeuw)

I have been trying my hand at developing a collaborative filtering plugin but am currently stuck. I have forked the repo and committed two files called ```jspych-collab-filtering*``` to the parent directory. One is the plugin (the .js file) and another is my attempt at a demo. The demo fails with an inability to find the plugin from ```jspsych.js```

[2021-06-08 21:55] becky-gilbert commented on #1881
Hi @jackransomlovell! Is this a plugin that you'd like to contribute to the library? (Just asking so that I know whether or not to categorize this issue as a potential new plugin).

I had a look at your [collab-filter-dev branch](https://github.com/jackransomlovell/jsPsych/tree/collab_filter_dev) I spotted the error. The inability to find the plugin is a secondary error, which is happening because

[2021-06-08 22:17] jackransomlovell commented on #1881
Hey, @becky-gilbert thank you so much for the quick response! Yes, you're correct this is hopefully going to turn into a new plugin. Sorry if opening is an issue wasn't the right move. Feel free to change things as need be!

Your comment is exactly right, I was initially thinking the max duration should be the duration of the stimulus but the experimenters can just change the default to 0 if so. I

[2021-06-09 18:00] bjoluc commented on #1855
Hi @jodeleeuw and @becky-gilbert,
I'm glad you welcome this! The running section would certainly be a good spot. An own section there would probably make sense since jspsych-builder in general is deployment-agnostic. Nevertheless, I think, an additional hello-world-like tutorial for jspsych-builder could also be helpful, maybe with a link to it in the plain hello world tutorial. I'm thinking of a

[2021-06-09 19:44] bjoluc commented on #1666
Maybe allowing `plugin.trial` to return a promise? Would be backwards-compatible and pretty intuitive. Although users that need to support very old browsers ([< 2014](https://caniuse.com/?search=promise)) might need to polyfill.

[2021-06-10 21:47] becky-gilbert commented on #1879
Closed via PR #1880 (1436132)

[2021-06-10 21:47] #1879 closed

[2021-06-10 21:54] becky-gilbert commented on #1879
@nikbpetrov FYI, I just added your name to the [contributors.md file](https://github.com/jspsych/jsPsych/blob/master/contributors.md). Please submit a pull request with changes to this file if you want to be listed differently or if I made any errors.

Thanks again! 😃

[2021-06-10 21:58] nikbpetrov commented on #1879
Thanks @becky-gilbert ! All looks good. Glad I could help. I hope I can contribute more substantially soon (working on #647 )

[2021-06-11 22:34] becky-gilbert commented on #1855
Hi @bjoluc, great! Can you draft the addition of jspsych-builder to the running-experiments docs page? I think putting it in its own section for now sounds good. I like the idea of linking to your hello world demo on the basic hello world tutorial page.

As far as helping out with the migration to ES6 modules support - I think you should get in touch with Josh, as he's handling the plan for that (

[2021-06-11 22:42] becky-gilbert commented on #1823
Hi @moramaldonado, sorry about the delay with this issue. I'm not sure that I'll be able to replicate this, but I can try. It would help if you could share a minimal reproducible example, or a link to your experiment on the server, so that I can take a look at the problem. Thanks!

[2021-06-12 22:06] nikbpetrov opened #1885 "categorize-animation plugin frame-time issue"
## Problem statement:

the `categorize-animation` plugin's documentation states that the `frame_time` argument defines 'How long to display each image (in milliseconds).'

However, this does not seem to be entirely true. It also seems to define a pre-image blank screen duration as well as the duration of the prompt before being allowed to give a response.

## Reproducing the error

Use the [catego

[2021-06-14 06:39] nikbpetrov commented on #647
@jodeleeuw 's Option 2 of a simulate method is implemented -- #1886

[2021-06-15 02:03] jackransomlovell commented on #1881
Ok so I made some changes and am now getting the following error:
[code]
The code at 234 is:
[code]
Which comes directly from the ```jspsych-video-button-response.js``` plugin. I tried finding some documentation on it but only found something for ```.getAudioBuffer()``` which I wasn't able to make sense of. I'll keep looking and report back if I make sense of things!

[2021-06-15 04:10] jackransomlovell commented on #1881
The solution to above was indexing any instance of ```trial.video.stimulus``` as ```trial.video[0].stimulus```. I think this has to do with the nesting structure I imposed. Any how, I am now getting this following error:

[code]

I have a feeling this has to do with not preloading the video properly, I will make sure to report back any sort of advancements!

[2021-06-15 18:16] becky-gilbert opened #1900 "IAT plugin: incorrect response doesn't end trial"
An incorrect response doesn't end the trial with the following parameters: `force_correct_key_press: false, display_feedback: false, response_ends_trial: true`. Instead, another key press is required to end the trial after an incorrect response. See #1898.

[2021-06-15 19:02] becky-gilbert commented on #1881
Yes I'm guessing you're right. Perhaps you've tried this already, but I would start by using `console.log` to look at the value of `pauseTime` on line 432, as well as the values that are used to generate the `pauseTime` value inside the `rand_stop` function (e.g. the video duration).

[2021-06-18 09:34] mike-somethingnooneelsehasusedyet opened #1908 ""Storing data permanently as a file" example does no sanitisation of incoming data."
The "Storing data permanently as a file" example on https://www.jspsych.org/overview/data/ suggests this code:
[code]
That code potentially allows a malicious actor to host their own content on your web server.

There is no sanitisation of the `$post_data['filename']` value. If the PHP script is running as user `bob` a malicious actor can create a file anywhere the user `bob` has write access to,

[2021-06-20 23:57] bjoluc commented on #625
Hi all, I'm stunned how fast the time has passed! Meanwhile, I created [jsPsych Builder](https://github.com/bjoluc/jspsych-builder) to provide an easy-to-use babel/webpack setup (and some other goodies) for jsPsych, similar to what @ryandrew14 [mentioned](https://github.com/jspsych/jsPsych/issues/625#issuecomment-521878887).

I am in the lucky position of having some capacities for ES6 modularizat

[2021-06-22 17:54] becky-gilbert commented on #1207
We could add a tabular formatting option for survey-likert questions - see #1917. I think this would only work when each question uses the same scale. Maybe we could detect whether each question uses the same scale as the previous one, and if so, stack the question, otherwise create a new row with the scale above the question. Or we could make the tabular option a different question type in order

[2021-06-22 23:31] #1533 closed

[2021-06-22 23:50] becky-gilbert commented on #164
I've done this for a few plugin docs pages (animation and audio-* plugins) and put it in the [docs-demos branch](https://github.com/jspsych/jsPsych/tree/docs-demos). Demo HTML files are in docs/plugins/demos, and use the jsDelivr CDN to get all of the jsPsych files. These are presented in an iframe embedded on the markdown docs pages, under the example code. Seems to work well. Feedback welcome!

[2021-06-22 23:52] becky-gilbert commented on #164
Just realized that I should add a "Start demo" button to the start of each demo, otherwise they just start automatically when the docs page loads.

[2021-06-25 02:05] kurokida commented on #164
I'm happy to help. But, I am not good at writing in English. Thant's why,  I think someone should check my writing.

[2021-06-25 02:49] jodeleeuw commented on #164
Thanks @kurokida! I think there's relatively little English writing involved here, at least for the conversion that @becky-gilbert has implemented. See [my comment here](https://github.com/jspsych/jsPsych/discussions/1923#discussioncomment-918361) for more details.

[2021-06-25 04:49] becky-gilbert commented on #164
Thanks very much @kurokida! Josh is right that there isn't much English writing - it's mostly programming. But I can also help with any language editing when I review pull requests 😀

[2021-06-25 17:09] becky-gilbert commented on #164
Hi @kurokida, @alexburm, and anyone else interested in helping out with this. I realize you both have experience with Git/Github already, but I'm going to include some extra guidance here for anyone else who may be new to this :smiley:

First, make sure you fork the jsPsych repository, if you haven't already (here's [how to fork a repo](https://docs.github.com/en/get-started/quickstart/fork-a-repo

[2021-06-25 19:08] jodeleeuw commented on #625
Thanks for the really thoughtful ideas @bjoluc !

Let me preface this next part by saying that I don't feel like I have a lot of expertise in modern JS tooling. I've built a few react apps and such, but I've never set up tooling from the ground up. So maybe some of my concerns are unfounded if I understood things a bit better.

Here's the scenario that I'm concerned about with the transition to re

[2021-06-27 17:02] bjoluc commented on #625
Thanks for the open-minded reply @jodeleeuw!

Let me argue that, using unpkg, there is no need to install Node.js for that student unless they want to modify existing plugins. The student doesn't even have to download the jsPsych repo – a simple experiment can be a standalone HTML file.
If the student wants to modify plugins, however, installing Node.js is fairly simple at least. Here's how I woul

[2021-06-28 06:29] aikoooo opened #1934 "Images loading slowly on ipad"
Hello there,

I created an experiment (mnemonic similarity task) that uses a huge amount of images (about 300 images for one experiment). In the coding I made sure that all images were preloaded. When I ran the experiment on the desktop, laptop, or iPhone, there was no single problem completing the experiment. However, when running on an iPad - both safari and google chrome (which I will use for t

[2021-06-28 13:19] jodeleeuw commented on #1728
Hi @jkrumbiegel,

I added a test for this to our automated test suite, and it seems to pass for the current implementation. So now I'm curious about what you might be doing differently that causes it to fail. What kind of items were in the `test_stimuli` array?

[2021-06-28 13:34] jodeleeuw commented on #1934
This may be the same issue as #1548. Are you using cognition.run or some other host?

[2021-06-28 13:53] jkrumbiegel commented on #1728
I also can't reproduce it right now with another made-up trial array, so it might not be so easy to trigger this bug and I stumbled on particularly bad values by chance. I'm not sure anymore as it was a couple months ago, maybe I'll have the time to check the original issue again later.

[2021-06-28 17:17] #1724 closed

[2021-06-29 02:39] kurokida commented on #164
One thing I would like to confirm, should I use `var` to declare variables instead of `let` and `const`?

[2021-06-29 04:08] becky-gilbert commented on #164
HI @kurokida, yes I think so, just to be consistent with the current docs and examples. I know always using `var` isn't considered best practice anymore, but we should probably change all of the docs/examples at once, at some point later on.

[2021-06-29 05:15] kurokida commented on #164
Hi @becky-gilbert , thank you for your reply. I understood.
I've made a demo for canvas-button-response.
I will send a pull request from now. Could you confirm that I'm doing this right?

[2021-06-29 05:18] becky-gilbert commented on #164
@kurokida Yes, absolutely! I'll look at your pull request and let you know. Thanks!!

[2021-06-29 08:27] aikoooo commented on #1934
Thank you for your reply! It seems like working fine now. I have another question. I am planning to do the experiment for 20 people on each ipad at the same time. I am wondering if that causes any problem. When 5ish people tried to start the experiment at the same time, it failed to preload the images. Does this happen commonly?

[2021-06-30 13:36] jodeleeuw commented on #1934
How are you hosting your experiment? If you have a web server that can handle the concurrent traffic it should be fine.

[2021-06-30 17:18] jodeleeuw commented on #625
Thanks for all of this @bjoluc. I'm learning a ton.

I've still got some hesitancies about particular trade offs. Do you think we could set up a chat at some point? I feel like a real-time conversation would be useful. Feel free to email me (jdeleeuw@vassar.edu) if you are interested and we can schedule something. Maybe @becky-gilbert can join too.

[2021-06-30 17:51] becky-gilbert commented on #625
Yes please keep me in the loop (beckyannegilbert@gmail.com)! In general I have the same hesitancies that Josh mentioned and would like to be sure that things remain as easy as possible for novice/intermediate programmers with no prior web development experience. I also find myself frequently recommending minor tweaks to the plugin code in response to Discussion board questions, so I'd like to make

[2021-06-30 20:49] becky-gilbert commented on #1885
Hi @nikbpetrov, you're absolutely right, thanks for flagging this! I'll ask Josh but I don't think the initial blank screen delay before the animation is intended - if someone wants to add preparation time then that could be done with a separate trial before the categorize-animation trial. So assuming this is a bug, then I think the problem is that the start of the animation is triggered inside of

[2021-07-01 19:18] #1855 closed

[2021-07-02 00:26] becky-gilbert commented on #1806
Hi @bmchardy, sorry for the delay getting to this issue. I was able to reproduce it and you're right that the `seeked` event isn't firing in Safari. Apparently in Safari, videos aren't immediately seekable, even when the video is loaded (WHY?! 😧). They do become seekable after they've started playing. So my current hack to get this to work is:
1. Detect Safari \*

Then, if the browser is Safari,

[2021-07-02 03:23] kurokida commented on #164
I have actually made a live demo of the canvas-button-response plugin, and noticed one thing.
It would be nice to be able to directly edit the code by visitor, and have it immediately reflected in the demo.
Is that too difficult?

[2021-07-02 22:22] jodeleeuw opened #1960 "Add version specific citation"
https://guides.github.com/activities/citable-code/

[2021-07-03 01:55] becky-gilbert commented on #1960
Thanks for the link Josh! I have a draft of a citation doc that I've been meaning to share with you, but I'll update it based on this guide first.

[2021-07-03 16:58] becky-gilbert opened #1965 "Image preloading doesn't work when file name has spaces?"
I just ran into this problem, not sure if it's reproducible or if it is also true for audio and video files. It looks like the spaces are being replaced with %20 in the file name, which then produces a 404 because there's no file with that exact match. Might need to use something like `unescape` or `encodeURI`?

[2021-07-05 01:05] kurokida commented on #164
This is a continuation of my comment above.
Using [CodePen](https://codepen.io/), the users may be able to see changes in the code in real time. So my suggestion is to include CodePen in the documantation file if possible.

By the way, I am planning to create a live demo of jspsych-c***. I'll let you know here.

- canvas-button-response (already done)
- canvas-keyboard-response
- canvas-slider-res

[2021-07-06 03:37] bmchardy commented on #1806
Thanks for all your work on this @becky-gilbert! This looks like a good solution. I can confirm this works on Safari for iPhone and Chrome for iPad. I'll make sure we test this on Mac and will update here with results.

Even though it is a bit hacky to use browser detection, it gets the job done! Your procedure of initializing a `playing` event handler and using this event callback to seek makes a

[2021-07-06 06:17] becky-gilbert commented on #1806
Thanks for the feedback @bmchardy! Please do let me know if you have any updates and I'll do the same.

[2021-07-06 23:56] becky-gilbert commented on #164
Great idea about using CodePen @kurokida. I'm not sure how hard it would be to incorporate CodePen demos into the docs pages,  but I'll look into it and update here. In the meantime I think we should carry on with the current plan.

Thanks very much for letting everyone know that you'll be taking on the jspsych-c* plugin demos! I'll look out for the pull requests whenever they're ready 😃

[2021-07-07 06:23] kurokida commented on #164
Hi, @becky-gilbert , thank you for your reply.

I tried CodePen. As a result, I found that it is very easy to embed in a document. See the attachment file.
![codepen-test](https://user-images.githubusercontent.com/32691644/124706346-0a5a9700-df32-11eb-974f-32c02b977fa4.png)

# The advantages and disadvantages are as follows

## Advantages

- Anyone can edit the source code, and the changes will be

[2021-07-07 09:05] SHogenboom commented on #164
Created a pull-request for the `jspsych-instructions` plugin: #1980

[2021-07-07 20:46] GEJ1 commented on #1625
I was recently using MouseView.js and I was wondering if maybe a extension could be a better use in jspsych. In the example it looks like a "wrapper" around existing plugins.

[2021-07-07 21:34] becky-gilbert commented on #164
Thanks for putting this together @kurokida!

@jodeleeuw what do you think about Daiichiro's use of CodePen for the plugin docs examples/demos in the [comment above](https://github.com/jspsych/jsPsych/issues/164#issuecomment-875321377)? I think it looks great. It seems to me the biggest disadvantage is the last one mentioned above: having to include some code to make the demo run that isn't related

[2021-07-07 21:51] becky-gilbert commented on #164
FYI for anyone else who might want to contribute to this - @SHogenboom has done the instructions plugin. So that means that the following plugins are already done or in progress:
- animation
- audio-button-response
- audio-keyboard-response
- audio-slider-response
- canvas-button-response
- canvas-keyboard-response
- canvas-slider-response
- categorize-animation
- categorize-html
- categorize-imag

[2021-07-07 22:29] becky-gilbert commented on #1625
Hi @GEJ1! I'm not sure what you mean here. I was suggesting that we create a MouseView extension, rather than using their `jspsych-mouseview-start` and `jspsych-mouseview-stop` plugins. Is that what you were thinking too?

[2021-07-07 22:55] GEJ1 commented on #1625
Ohh! Sorry, yes I was thinking the same, haha

[2021-07-08 00:33] becky-gilbert commented on #1625
Oh good!

Hmm, good point. Maybe we need a new-extension tag 🤔

[2021-07-08 02:26] jodeleeuw commented on #164
Hey @kurokida and @becky-gilbert,

The code pen thing is pretty neat! I have a few concerns:

1. It looks like editable embedded code pens are only unlockable with a paid subscription to code pen. (https://blog.codepen.io/documentation/editable-embeds/). I think this removes one of the major advantages over the other system 😞.
2. I'm worried that the very narrow view for the preview will not be su

[2021-07-08 02:32] becky-gilbert commented on #164
Thanks for the feedback Josh! Sounds like we should stick with the current demos, and look into automatically launching new Code Pens based on the demo code.

[2021-07-08 03:53] kurokida commented on #164
Hi @jodeleeuw , thank you for your reply.

I agree with the current method of creating documentations without using CodePen. I strongly agree with the third point you are concerned about. I was completely unaware of this point.

But for the first point, maybe we don't need to be a paying member (PRO) to use editable embedded code.
On the page you introduced, it does indeed look like we need to pay

[2021-07-08 23:46] becky-gilbert commented on #1806
Hi @bmchardy! So a little update on this.

First, there's a bug in the last chunk of code that I posted above. When `autoplay` is `false` and `controls` is `true`, then the code above doesn't work because, when the user hits the play button, the `playing` event will fire and reset the current time, which will then trigger the `seeked` event and pause the video. The solution is to remove both of th

[2021-07-09 00:55] becky-gilbert commented on #1960
@jodeleeuw I just requested permission for Zenodo (DOI issuer) to access certain aspects of the jsPsych repo, so I think you'll have to approve that before I can set up a DOI via the method you linked to above.

Also, it looks like Zenodo will only issue a DOI after the release has been created, which is a little annoying because I was hoping to include a citation file (markdown or plain text?) in

[2021-07-09 09:00] pjotrsavitski commented on #1908
@mike-somethingnooneelsehasusedyet The example from the documentation is probably not the best one and should not be used in production, though it does seem quite strange to start parsing the contents of the file. It might be better to just improve the documentation and clearly mention that this is an example starter solution that just gives the general idea about the possible approach. It might b

[2021-07-09 18:59] becky-gilbert commented on #1548
Hi @maxblomberg, so sorry to take so long to get to this issue, and thanks for your debugging help.

I just tried to reproduce the problem using the two cognition.run links you posted above, using iPad Safari. For me, the first link that you posted (https://la0n6bl2dx.cognition.run/, "VS_local") works fine - all of the images appear immediately after the fixation, including on the first trial. Wit

[2021-07-09 19:33] becky-gilbert commented on #1548
Hi @hauselin, sorry for the long delay - I'm not sure if this issue is still relevant for you, but I'm trying to reproduce it now.

On iPad Safari/Chrome, I'm finding that the images load immediately with your media-cache-preload-6.2 example (https://m8seoragzv.cognition.run/).

With the 6.3 example (https://ty7doeyux8.cognition.run/), the images appear after a short delay on the first few trials,

[2021-07-09 20:47] becky-gilbert commented on #1548
Hi @danmyles, I'm trying to reproduce this issue and haven't had any luck so far. Just wondering if you could provide some demo code and/or a cognition.run link that produces this problem, please? Thanks!

[2021-07-09 21:01] becky-gilbert commented on #1960
I'd like to set up a DOI for v7.0 using Zenodo's reserve DOI method, but we need to allow Zenodo third party access to the jsPsych repo. I can't change this setting myself since I'm not the owner. @jodeleeuw can you do this please? The instructions are here: https://docs.github.com/en/organizations/restricting-access-to-your-organizations-data/approving-oauth-apps-for-your-organization

A few othe

[2021-07-10 00:56] jodeleeuw commented on #1960
I think that I've approved Zenodo. Can you confirm that it's working when you get a chance @becky-gilbert ?

Yeah, if we can generate retrospective citations that would be great! And I very much like the idea of including a citation file. I think APA and BibTeX together makes sense. I suppose markdown is nice for APA formatting?

I wonder if @bjoluc knows how we can make generating this file part

[2021-07-10 05:52] hauselin commented on #1548
Hi @becky-gilbert, thanks for working on this. I don't use Safari myself and have been asking participants to not use Safari, so I'm not entirely sure if there's still a problem. But I ran your 6.3 example in Safari (see gif below) and it seems like there's still network activity going on on each trial (I don't see such activity in Chrome/Firefox).

![safari](https://user-images.githubusercontent.

[2021-07-10 21:11] bjoluc commented on #1960
I wonder if that's possible. As Becky pointed out, Zenodo only issues a DOI after a release by default. https://github.com/zenodo/zenodo-docs-user/issues/47#issuecomment-374179471 is related. We could possibly work around this by using their API to upload the release and get the DOI before the GitHub release is published. But then the release archive on Zenodo would still not contain the DOI and,

[2021-07-12 01:28] danmyles commented on #1548
Hi @becky-gilbert

The issue I experienced at the time was that same as @hauselin example above. The image had to re-load from scratch each time it was displayed. I was animating the movement of a slot machine reel, this required introducing several new images over and over as the reel spun. So the issue was a total disaster, in the end I just blocked Safari from loading the experiment and re-dire

[2021-07-12 01:35] danmyles commented on #1548
** I should add that the exp was intended for desktop only (we noted that tablets and smart phones were ineligible via Prolfic).

So I doubt it will display properly on iPad/iPhone.

[2021-07-12 11:12] mike-somethingnooneelsehasusedyet commented on #1908
I assure you people have used this example code in production. Devising behavioural experiments and creating secure, very possibly Internet exposed, web applications which accept and store user input are entirely different skill sets. Some people will not have any coding experience, awareness of security issues around accepting user input and storing it, or local support to help them and will cobb

[2021-07-12 19:52] becky-gilbert commented on #1960
@jodeleeuw I think the reason I'm not seeing the jsPsych repo on Zenodo is because it's restricted to repo owners and those with admin status. From the FAQ:

I can see the jspsych/moving-research-online-workshop repo on Zenodo, and I just checked that I do have admin status for that one. So I think you'll have to reserve the DOI for each release. Maybe once you've done that, you could list it in t

[2021-07-12 22:26] bmchardy commented on #1806
Hi @becky-gilbert! Thanks for your update on this. I agree that the latter solution is probably best because of its simplicity and because it no longer requires using browser detection methods. I've had the chance to test this latter solution on iOS (Safari), iPadOS (both Safari and Chrome), and MacOS (Safari). No issues to report and all behaviour seems as intended.

I believe this is a strong fi

[2021-07-12 22:29] becky-gilbert commented on #1806
@bmchardy great, thanks very much for the feedback! This fix will be added to the next release. Thanks for reporting the issue, and for your patience 😃

[2021-07-12 22:35] bmchardy commented on #1806
@becky-gilbert great! Thank you!

[2021-07-13 00:32] jodeleeuw commented on #1960
@becky-gilbert I just bumped you to admin on `jspsych/jspsych` so hopefully that fixes it 😁

[2021-07-13 01:15] becky-gilbert commented on #1960
Yep it did, thanks!

[2021-07-14 18:45] nikbpetrov opened #1993 "Asynchronous loading of images during experiment runtime"
## Problem statement:
I have loads of images. I want to preload those images in the background during the first N trials, until I hit a spot where the user cannot continue until images are loaded.

## What I have tried
The jsPsych preload functions and plugin did not seem to cut it for asynchronous loading so a simple use of Javascript should do the case -- but I cannot seem to get it to work with

[2021-07-15 07:02] Shaobin-Jiang opened #1994 "Chinese version of the documentation"
The Chinese version of the documentation is now available at [https://shaobin-jiang.github.io/jsPsych-Chinese-Documentation/](https://shaobin-jiang.github.io/jsPsych-Chinese-Documentation/).

Wondering if it would be nice to integrate it into the README.md of the current repository

[2021-07-16 18:01] becky-gilbert commented on #1994
Wow, this is great @Shaobin-Jiang! Thanks very much for putting this together! Yes, we can link to this in the README and on the website.

Just so you know, we're working on a major release (7.0) which will be out in the next month or so. This will involve some changes to how jsPsych experiments are set up, which means there will be changes to the documentation. The general structure of the docume

[2021-07-16 22:29] becky-gilbert commented on #1548
Hi @danmyles and @hauselin - thanks so much to both of you for getting back to me.

I created a [BrowserStack](https://www.browserstack.com/) account so that I could test on Mac/Safari, and I'm now able to reproduce the problem. On BrowserStack, the problem occurs on older versions of Mac/Safari, such as Catalina/13.1 and Mojavi/12.1. However, the problem does not occur on the latest versions: Big

[2021-07-16 22:37] hauselin commented on #1548
I'm using Safari Version 14.0.3 on macOS Catalina (Version 10.15.7).

[2021-07-16 22:55] becky-gilbert commented on #1548
@hauselin ok thanks!

[2021-07-17 01:21] danmyles commented on #1548
Thanks @becky-gilbert ☺️!

I'll definitely make all the code available once we get the first paper out. I'd be very happy to share it on the discussion board too! Although it was the first time I'd coded up something in jsPsych so it's probably a bit Frankenstein under the hood...

[2021-07-17 04:33] kurokida opened #1999 "Data can't be saved in a MySQL database at least with iPhone and iPad."
I have been using [this method](https://www.jspsych.org/overview/data/#storing-data-permanently-in-a-mysql-database) to store data in a MySQL database.

I noticed that the data with Windows PC can be saved, but the data with iPhone and iPad data is not saved.

This issue may be related to https://github.com/jspsych/jsPsych/discussions/1830

I modified the recommended code slightly to create the fo

[2021-07-17 09:28] nikbpetrov commented on #1993
I've managed to find a working solution for this. The key for me was to 1) promise-ify the `preload_image` function in the `jsPsych` core module (e.g. see [here](https://stackoverflow.com/a/66180709/13078832)) and 2) change it to return an array of the promises for each image.

So the `module.preloadImages` function now looks like this:

[code]

This then allows me to save the promises from the `p

[2021-07-18 17:46] maxblomberg commented on #1548
Hi @becky-gilbert,

thanks for tackling and sorry for taking so long. Yes, while cleaning up my experiments in the last months I accidentally deleted the image files from formr. However, I reuploaded them so the links above should work again (VS Local - images hosted on cognition: https://la0n6bl2dx.cognition.run/; VS foreign - images hosted on formr: https://hjkghcyhos.cognition.run/)

I think th

[2021-07-19 02:05] kurokida commented on #1999
Hi @javidalpe, I'm sorry to bother you.

As I mentioned above, I'm having trouble with data saving with iPhone and iPad.
This problem is occurring on my server, but I found that there was no problem in the case using Cognition.run you developed.

Do you have any idea?
Or could you show me the source code regarding the data saving to the server?

[2021-07-19 02:52] kurokida commented on #1999
I have found a solution, but I am not sure if this is the right one.

If I write as follows, the problem was solved.

[code]

That is, I changed the operation from async to sync.
See https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/open

@jodeleeuw , @becky-gilbert , if my method is correct, I think we need to rewrite [this page](https://www.jspsych.org/overview/data/#storing-data-p

[2021-07-19 15:10] myrtevos commented on #494
I've recently written an audio response recording plugin for a specific usecase (eliciting words from dialect speakers, for which we need to allow informants to manually start, stop, and re-record audio). It's a hybrid between Becky's html-audio-response plugin and Michael Weiss (m-w-w)'s record-audio-JATOS plugin (thanks to both!) and uploads audio as a result file on JATOS.

I still need to file

[2021-07-20 22:30] becky-gilbert commented on #1999
Thanks for flagging this @kurokida, and glad to hear that you found a solution. I've assigned this to Josh and he's out of the office right now, but I'm sure he'll get to it when he gets back.

Note: see also #1908 for other changes we might want to make to this data saving section in the docs.

[2021-07-20 22:45] becky-gilbert commented on #1548
@maxblomberg thanks very much for re-uploading your images - being able to test your formr-hosted image example is really helpful for narrowing down the source of the problem. I've just tested your links again and get the same results that you report: on older MacOS/Safari, the images don't reload on each trial in the formr-hosted version, but they do in the cognition-hosted version.

Ok great, th

[2021-07-21 16:16] Shaobin-Jiang commented on #1994
That would be great @becky-gilbert! Appreciate that. I think I will be keeping the Chinese documentation updated, and I will probably get to working on that upon the release of version 7.0.

[2021-08-03 19:49] ncuneo0711 opened #2039 "undefined via pavlovia (not local)"
Hi! I am having an issue when I run my study via pavlovia. Locally- the code is working perfectly but when I run in through pavlovia for some reason there's an unidentified "undefined" that appears on the screen.

I tried it with the example code to make sure it wasn't my code that was the issue.

I used this example:
var mturk_code = {
type: 'html-button-response',
stimulus: '

Running

',
choice

[2021-08-03 20:57] #2039 closed

[2021-08-03 23:56] becky-gilbert commented on #1993
Hi @nikbpetrov, sorry for the very slow response, and thanks for sharing your solution to this! I'm guessing other researchers would be interested in the ability to preload in the background, so it's probably worth promise-ifying the preloading in some way to make that possible. I'm not an expert in promises, but the way you've done this looks straightforward to me. Perhaps we could also wrap the

[2021-08-05 16:04] jodeleeuw opened #2047 "Deploy versioned documentation"
Given the major changes to the documentation that will happen with v7.0, we should figure out how to deploy versioned documentation for previous releases. It looks like [this is supported by the documentation theme provider](https://squidfunk.github.io/mkdocs-material/setup/setting-up-versioning/), so we should be able to retroactively deploy docs for every version that was built to use the mkdocs

[2021-08-06 12:41] jodeleeuw opened #2050 "Data saving incomplete with Cognition.run + Prolific"
Based on the discussion thread linked below I think we should modify the behavior of `on_finish` for 7.0.

@becky-gilbert @bjoluc @javidalpe @fzenk

### Discussed in https://github.com/jspsych/jsPsych/discussions/1850

<div type='discussions-op-text'>

<sup>Originally posted by **fzenk** May 23, 2021</sup>
Hello! I have an experiment that uses Cognition.run for hosting and Prolific for participant

[2021-08-09 11:17] bjoluc commented on #229
I think this should be dropped in favor of NPM now @jodeleeuw.

[2021-08-09 11:20] #229 closed

[2021-08-10 14:36] jodeleeuw opened #2062 "Chrome update now restricts the number of `<audio>` elements that can be created."
We may need to deal with this, or at least document it. It seems like the `WebAudio API` still works though.

### Discussed in https://github.com/jspsych/jsPsych/discussions/2058

<div type='discussions-op-text'>

<sup>Originally posted by **EceKayaMPI** August  9, 2021</sup>
Hi,
After my IT-managed computer updated Chrome, I can't test my experiments on local computer or the server. The experimen

[2021-08-11 18:08] fspinar opened #2073 "Experiment doesn't work on psiTurk/mTurk (but works fine as .html)"
Hi all,

I am trying to run my experiment by using jsPsych. The code works fine when I run it as an HTML code separate from psiTurk, but when I try to run it on mTurk sandbox or in the debug mode of psiTurk, I only get a blank screen.

Could you help me through this ? I really don't see what is wrong.

Thanks a lot.

[2021-08-12 14:15] jodeleeuw opened #2076 "Modularization: `trial_type` property in `DataCollection` is stored as an object, creating circular dependencies"
`jsPsych.data.get().json()` causes an error because `trial_type` is an Object with circular references.

Suggested fix is to store the static `info.name` as the `trial_type`.

[2021-08-12 16:10] bjoluc commented on #2076
Thanks @jodeleeuw! That's the one part I discovered I was missing when I went through the proposed changes in #661. Fixed by
017b45d.

[2021-08-12 16:10] #2076 closed

[2021-08-13 16:05] becky-gilbert commented on #2073
Hi @fspinar, it'll be hard to figure out what the problem is here without more information. Do you get any errors in the browser's JavaScript console when you see the blank screen? Also, have you tried reaching out to psiTurk support?

[2021-08-16 11:17] fspinar opened #2085 "Change global parameter inside a function"
Hi all,

I have a function that determines the stimulus of a trial. That is:

var trial = {
...
stimulus: function(){

}
}

Inside this function I need to be able to update a global parameter and use that parameter in other trials. That is :
var parameter = 0;
var trial = {
...
stimulus: function(){
parameter = parameter + 1;
}
}

var newTrial = {
// access to this parameter
}

Could you help me w

[2021-08-16 19:27] deargle commented on #2073
:wave: from psiturk support. https://github.com/NYUCCL/psiTurk/issues/525

[2021-08-17 00:53] becky-gilbert commented on #2085
Hi @fspinar, I'm moving this to the Discussions section because it's a question, rather than a bug or feature request.

[2021-08-17 00:53] #2085 closed

[2021-08-17 02:11] zhangchi199133 commented on #494
Dear @becky-gilbert and @hesmall, thanks for the amazing plugins. It helps me greatly. I am now using the html-audio-response plugin for its feature of manually ending the recording with a key press. I was wondering whether I can apply the same feature to a button press? If so, how should I modify the plugin? Many thanks!

[2021-08-17 14:47] jodeleeuw commented on #640
Picking up on thread from https://github.com/jspsych/jsPsych/pull/2078.

My understanding of the purpose of a `jspsych-contrib` repo is that it's a place with a low barrier to sharing potentially useful contributions. With that in mind, I'd love to make it so that `jspsych-contrib` doesn't *require* the full build toolkit to contribute. For example, say someone creates a usable plugin by following

[2021-08-17 16:08] bjoluc commented on #640
@jodeleeuw That's a good point. We could have a build setup available for both options in `@jspsych/config`, and two templates in `jspsych-contrib`:
* A TS template – something like currently in `packages/plugin-template`
* A plain JS template that adheres to the same format as our `index.browser.js` builds currently do – ES6 IIFE with `jsPsychModule` dependency. That would require a Rollup config

[2021-08-18 21:33] jodeleeuw commented on #2047
I've started to work on this. I've figured out how to deploy docs for 6.3 and how it will work for 7.0. I could deploy the change to the live site, but I think it will be weird to have a dropdown selector for the version that doesn't do anything. So I propose that I deploy the versioned docs for 6.3 at the same time that we do 7.0 docs.

[2021-08-18 22:05] becky-gilbert commented on #2047
@jodeleeuw thanks for letting me know, and sorry I hadn't gotten to this yet!

RE waiting for v7 before adding a version selector - sounds good. How difficult would it be to add docs for all v6 releases? Maybe I can add those around the same time as 6.3.1?

BTW is it ok if I update the live site with the recent docs edits that apply to the current release? These have all been merged into `master`.

[2021-08-19 02:56] jodeleeuw commented on #2047
@becky-gilbert I think we should aim to have a final version of the 6.3 docs done with the release of 7.0. If we have the live demos functional for 6.3 docs then we could merge those changes in and publish an updated version of the 6.3 docs prior to publishing the 7.0 docs. But once we publish the 7.0 docs I want to avoid having to make changes to the 6.3 docs.

In theory adding docs for <6.3 is v

[2021-08-19 09:03] andreaar5 opened #2090 "Offline experiment - saving data"
Hi,

I am quite new here.
This year, I run an experiment and I used a free server to save data.
Now I want to run another experiment offline.
How can I save data on my laptop? Is it possible?

Thanks,
Andrea

[2021-08-19 11:25] HackGod2000 commented on #1640
I would like to contribute to this issue, just to clarify. by the audio extension, you mean while performing any other task the audio extension would allow us to play any sort of audio in the background. For example, if there is a survey going on and we want to add some audio along with it.

[2021-08-19 15:40] GEJ1 commented on #2090
Hi @andreaar5 ,

You can save data on your laptot using

[code]

Check the docs: https://www.jspsych.org/core_library/jspsych-data/#localsave

Best,

Gustavo.

[2021-08-19 20:55] #1728 closed

[2021-08-20 14:31] jodeleeuw commented on #640
Yeah I think I agree here. My primary goal is to allow for a contribution that doesn't rely on Node.js or `npm install`. I don't think contributions in `jspsych-contrib` need a testing file, though it would certainly be nice if someone provides one.

[2021-08-20 15:28] jodeleeuw commented on #2073
I'm going to shift this to [discussions](https://github.com/jspsych/jsPsych/discussions) since it is a support request.

[2021-08-20 15:28] #2073 closed

[2021-08-20 15:29] jodeleeuw commented on #2090
I'm going to shift this to [discussions](https://github.com/jspsych/jsPsych/discussions) since it is a support request.

[2021-08-20 15:29] #2090 closed

[2021-08-20 15:30] #1934 closed

[2021-08-20 15:31] jodeleeuw commented on #1823
I'm going to close this, but happy to re-open if we get a reproducible example.

[2021-08-20 15:31] #1823 closed

[2021-08-20 15:32] jodeleeuw commented on #1869
I'm going to close this, but happy to reopen if there is further input.

[2021-08-20 15:32] #1869 closed

[2021-08-21 08:18] bjoluc commented on #640
Alright! You can either setup `jspsych-contrib` yourself and grant me permissions, or temporarily add me to @jspsych and I'll do it. Also, would you like to rename [this repo](https://github.com/jspsych/jsPsych-plugin-contrib) or create a new one?

[2021-08-23 17:27] jodeleeuw commented on #640
Should have an invite for admin rights here: https://github.com/jspsych/jspsych-contrib

[2021-08-24 21:38] sepidehnamvarrad opened #2101 "issue with downloading the data from cognition run"
Hi,
I recently had a problem with downloading my data. when i finish the experiments (doesn't matter on my server or an external server), the data that is saved in cognition run, doesnt show the data in some colums (it gives emty strings while i coded 0 and 1 for accuracy), however, when the data authomatically shows up on the screen (still doesn't matter on which server), the data is exactly the

[2021-08-25 15:33] jodeleeuw commented on #1999
I think the ideal solution here involves waiting for the `xhr` request to process before continuing.

This could be done by using the `async` option in the `call-function` plugin and activating it in the `xhr.onload` and `xhr.onerror` functions.

Another option would be to switch to using the [Fetch API](https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch) which is a more stream

[2021-08-25 21:25] jodeleeuw opened #2105 "getKeyboardResponse bug when two response listeners respond to same key."
### Discussed in https://github.com/jspsych/jsPsych/discussions/2104

<div type='discussions-op-text'>

<sup>Originally posted by **noah10** August 25, 2021</sup>
I've got a very simple setup (pulled from the documentation and the test code):

[code]

...yet my alertCallback function is never called (in either Safari or Chrome, both on OS X), no matter whether I press 'q' or another key. Stepping

[2021-08-26 18:04] jodeleeuw opened #2108 "Round all RTs to the nearest ms"
The `performance.now()` method of collecting response times has an absurd level of precision that is certainly not justified in the context of response times given the synchronization between the display and keyboard events. We should round these values to the nearest millisecond to make the data files cleaner and not give the illusion that the response times are more accurate than they actually m

[2021-08-31 14:20] #1908 closed

[2021-08-31 14:20] #1999 closed

[2021-08-31 14:22] #164 closed

[2021-09-01 19:27] jodeleeuw commented on #2105
This was fixed by #2087 and tested by https://github.com/jspsych/jsPsych/commit/ddc3436b2f8a7e0589c9d214d1a10f618fb93ef6

[2021-09-01 19:27] #2105 closed

[2021-09-02 18:15] jodeleeuw commented on #1885
I think this is now fixed with https://github.com/jspsych/jsPsych/commit/03cb835bcf10085fd81f3cd533874466b500d2e7.

@nikbpetrov there is an option for allowing a response before the animation is complete (`allow_response_before_complete`) so I didn't change how the final frame behaves. But I did change things so that the animation starts immediately in both animation plugins.

[2021-09-02 18:15] #1885 closed

[2021-09-02 18:51] jodeleeuw commented on #2108
I think I caught everything in https://github.com/jspsych/jsPsych/commit/f53145d2e333c784af81303e99f18e78a70fca20

[2021-09-02 18:51] #2108 closed

[2021-09-02 19:29] #1900 closed

[2021-09-02 19:35] jodeleeuw commented on #1548
Looking over this thread again as it's marked for `7.0`. @becky-gilbert it sounds like the problem is related to how images are hosted/loaded on cognition.run and not something that jspsych is doing. Does that seem right to you?

[2021-09-02 19:41] becky-gilbert commented on #1548
Sorry for not posting an update on this sooner! Yes, this is related to how the images are hosted - specifically the cache settings in the response header. I'll close this issue now since it's not a jsPsych issue. And I'll post more about the server cache settings that solve this problem ASAP.

[2021-09-02 19:41] #1548 closed

[2021-09-03 18:47] becky-gilbert opened #2131 "repetitions_per_point in webgazer-validate plugin?"
@jodeleeuw the [webgazer-validate plugin docs page](https://www.jspsych.org/plugins/jspsych-webgazer-validate/) lists a `repetitions_per_point` parameter, which is "The number of times to repeat the sequence of calibration points". There's no such parameter in the actual plugin. Should I implement the repetitions parameter in the plugin and change "calibration" -> "validation" in the docs paramete

[2021-09-03 19:35] becky-gilbert opened #2132 "change plugin parameters: option of different types to a single type"
With the switch to TypeScript in v7.0, plugin parameters that allow different types are trickier to deal with (see discussion [here](https://github.com/jspsych/jsPsych/pull/2078#discussion_r692059043)). One solution is to enforce a single type* for these parameters. This will be a breaking change for the affected plugins, and will require changes to the documentation, as well as any demo code and

[2021-09-03 20:09] becky-gilbert commented on #2132
@vrsivananda quick question for you about the RDK plugin: while looking into the `correct_choice` parameter, I noticed that when this parameter is an array, the response is only considered correct if the participant responds with _all_ of the keys listed in the array:
[code]
But your comment above says that if the response is included in the array then the `correctOrNot` function should return `tr

[2021-09-03 22:45] javidalpe commented on #1548
Hello everyone. Thank you for sending your debug sessions. It seems like browsers are not caching the same way. Some browsers are not caching stimuli, new requests are thrown and flickering occurs.

This is not happening on localhost or other services. I think this could be due to a lack of explicit cache directives from cognition responses. Following @becky-gilbert suggestions, I've configured th

[2021-09-05 19:31] jodeleeuw commented on #2131
Oops. Totally sloppy on my part!

Let's remove the parameter from the docs. And let's do that on `main` so that it deploys as part of the v6.3 docs. Thanks!

[2021-09-05 19:36] jodeleeuw commented on #2132
For the `visual-search-circle` plugin I think changing `foil` to be just an array would create an annoying problem where if you want all of the foils to be the same, you would need to repeat that item `n` times in the array. Currently the plugin will do this for you if the `foil` parameter is not an array.

We could implement something so that the array is duplicated the number of times necessary